    #list-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%;
        overflow: auto;
    }

    .easy-icon-on {
        background: #ddd !important;
    }