.audiojs {
    display: table;
    width: 100%;
    height: 34px;
}

.audiojs .play-pause, .scrubber, .time {
    display: table-cell;
    float: none;
    height: auto;
    vertical-align: middle;
}

.audiojs .play-pause {
    padding: 0 6px;
}

.audiojs .play-pause > p {
    margin: 0;
    padding: 0;
    height: 26px;
}

.audiojs .scrubber {
    width: 99%;
    margin: 0;
    padding: 0;
}

.audiojs .scrubber > div {
    position: relative;
    margin: 0;
}

.audiojs .scrubber > div &.progress {
    z-index: 2;
}

.audiojs .scrubber > div &.loaded {
    margin-top: -14px;
    z-index: 1;
}

.audiojs .time {
    height: 20px;
    line-height: normal;
    margin: 0;
    padding-top: 2px;
    border-left: 0;
    width: auto;
}