 @import url(../../bower_components/cesium1.9/Build/Cesium/Widgets/widgets.css);
  html, body, #cesium {
          width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
      }

      
  body {
    margin:0;
  }
  #sidebar {
    position:absolute;
    z-index:1000;
    height: 100%;
    display:none;
    width: 400px;
    background-color: #efefef;
  }