#sidebar {
    overflow: none;
    padding: 0;
    position: relative;
}

#sidebar .fullwidth {
    width: 100%;
}

#sidebar .sidebar-content {
    bottom: 0;
    overflow: auto;
    padding: 8px 24px;
    position: absolute;
    top: 50px;
}

.leaflet-sidebar .prev {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 31px;
    height: 31px;
    color: #333;
    font-size: 25pt;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 8;
}


.leaflet-sidebar .next {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 31px;
    height: 31px;
    color: #333;
    font-size: 25pt;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 8;
}

.leaflet-sidebar .awesome-marker {
    position: relative;
}

.leaflet-sidebar .thumbnail {
    margin-bottom: 0;
    padding: 0;
    border-width: 2px;
}

.leaflet-sidebar .circle {
    background-color: #ddd;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #888888;
    color: black;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.leaflet-sidebar h5 {
    color: #666;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.leaflet-sidebar .top-menu {
    background: white none repeat scroll 0 0;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5000;
}

.leaflet-sidebar .close {
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
    top: 0;
    right: 0;
}