<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link href='../bower_components/components-font-awesome/css/font-awesome.min.css' rel='stylesheet' />
        <link href='../bower_components/leaflet/dist/leaflet.css' rel='stylesheet' />
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../common/css/generator.css' rel='stylesheet' />

    </head>
    <body>

<h1>Demonstratorgenerator</h1>
<form autocomplete="off">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Link</h3>
            <div class="map-link"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Tittel</h3>
            <input id="title" type="text" class="form-control" placeholder="Navn på demonstrator">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" id="municipality_container">
        </div>
        <div class="col-md-2" id="line_container">
        </div>
        <div class="col-md-2" id="bbox_container">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Datasett</h3>
            <div class="row">
                <div class="col-md-6">
                    <h4>Tilgengelige</h4>
                    <ul id="datasets-available" class="droplist list-group connected sortable list"></ul>
                </div>
                <div class="col-md-6">
                    <h4>Valgte</h4>
                    <ul id="datasets-selected" class="droplist  list-group connected sortable list"></ul>
                </div>
            </div>
            
        </div>
        <div class="col-md-2">
            <h3>Bakgrunnskart</h3>
            <select id="layers" class="form-control"></select>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Link</h3>
            <div class="map-link"></div>
        </div>
    </div>
</div>
</form>

<script type="text/template" id="municipality_template">
    <h3><input type="radio" name="inputType" /> Kommune</h3>
    <select id="komm" class="form-control">
    <% _.each(municipalities, function (municipality) { %>
        <option value="<%= municipality.komm %>"><%= municipality.navn %></option>
    <% }) %>
    </select>
</script>

<script type="text/template" id="line_template">
    <h3><input type="radio" name="inputType" /> Linje</h3>
    <input id="line" type="text" class="form-control" placeholder="Linje">
    <span id="helpBlock" class="help-block">For linjer fra ut.no: bruk formen utno/id</span>
    <h5>Buffer (km)</h5>
    <input id="buffer" type="number" class="form-control" value="2">
    <h5>Linjefarge (hex)</h5>
    <input id="linecolor" type="text" class="form-control" value="#0033ff">
</script>

<script type="text/template" id="bbox_template">
    <h3><input type="radio" name="inputType" /> BBox</h3>
    <input id="bbox" type="text" class="form-control" value="3.779297,57.751076,31.464844,71.357067">
</script>

<script type="text/template" id="popup_template">
<h3><%= title %></h3>
<p><%= dataset %></p>
<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>
<p><%= content %></p>
<a href="<%= link %>">Mer info</a>
</script>


<script type="text/template" id="verneomraader_template">
<h3>Verneområde</h3>
<dl>
    <dt>Navn</dt>
    <dd><%= title %></dd>

    <dt>Faktaark</dt>
    <dd><a href="<%= link %>">naturbase.no</a></dd>

    <dt>Beskrivelse</dt>
    <dd><%= content %></dd>
</dl>
</script>


<script type="text/template" id="kulturminne_template">
<h3><%= title %></h3>

<table class="sidebar-table">
    <tr>
      <td>Type kulturminne</td>
      <td>??</td>
    </tr>
    <tr>
      <td>Kategori</td>
      <td><%= allProps.dc_subject[1] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Art</td>
      <td><%= allProps.dc_subject[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Vernestetus</td>
      <td><%= allProps.dc_subject[2] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Datering</td>
      <td><%= allProps.dc_date[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Registrerte funn</td>
      <td>??</td>
    </tr>
    <tr>
      <td>Synlig</td>
      <td>??</td>
    </tr>
</table>
</script>


<script type="text/template" id="musit_template">
<h3>MUSIT</h3>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>

<dl>
    <dt>Artefakt</dt>
    <dd><%= allProps.dc_subject %></dd>

    <dt>Beskrivelse</dt>
    <dd><% print(allProps.dc_description ? allProps.dc_description : '-') %></dd>

    <dt>Funnsted</dt>
    <dd><% print(allProps.abm_estateName ? allProps.abm_estateName : '-') %></dd>

    <dt>Materiale</dt>
    <dd><%= allProps.dcterms_medium %></dd>

    <dt>Datering</dt>
    <dd><% print(allProps.dc_date ? allProps.dc_date : '-') %></dd>

    <dt>Museum</dt>
    <dd><%= allProps.europeana_dataProvider %></dd>

    <dt>Mer informasjon</dt>
    <dd><a href="<%= link %>" target="_blank">link</a></dd>
</dl>
</script>


<script type="text/template" id="digitalt_museum_template">
<h3>Digitalt Museum</h3>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>

<dl>
    <dt>Navn</dt>
    <dd><%= title %></dd>

    <dt>Beskrivelse</dt>
    <dd><%= allProps.delving_description.join('<br />') %></dd>

    <dt>Kategori</dt>
    <dd><%= allProps.europeana_dataProvider %></dd>

    <dt>Mer informasjon</dt>
    <dd><a href="<%= link %>" target="_blank">digitaltmuseum.no</a></dd>
</dl>
</script>


<script type="text/template" id="digitalt_fortalt_template">
<h3><%= title %></h3>
<% if(contentType === 'VIDEO' && video) { %>
    <% if (video.indexOf('mp4') !== -1) { %>
        <video class="video-js vjs-default-skin fullwidth" controls
         preload="auto" height="315" <% if(images) { %>poster="<%= images[0] %>" <% } %>
         data-setup='{}'>
          <source src="<%= videoEmbed %>" type='video/mp4'>
        </video>
    <% } else { %>
        <iframe class="fullwidth" height="315" src="<%= videoEmbed %>" frameborder="0" allowfullscreen></iframe>
    <% } %>
    
<% } else if(contentType === 'SOUND' && sound) { %>
    <audio src="<%= sound %>" preload="auto"></audio>
<% } else if(contentType === 'IMAGE' && images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>
<%= content %>


<table class="sidebar-table">
    <tr>
      <td>Forfatter</td>
      <td><%= allProps.delving_creator[0] || allProps.dc_creator[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Publisert</td>
      <td><%= allProps.abm_digitised[0] || allProps.dcterms_created[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Lisens</td>
      <td><%= allProps.europeana_rights[0] || 'Opphavsrett' %></td>
    </tr>
</table>


</script>


<script type="text/template" id="list_item_template">
<a href="#" class="list-group-item">
    <div class="media">
        <div class="media-left media-middle">
            <%= marker %>
        </div>
        <div class="media-body">
            <%= title %>
        </div>
    </div>
</a>
</script>


<script type="text/template" id="fangstgrop_template">
<h3>Fangstgrop</h3>

</script>


<script type="text/template" id="marker_template">
<div class="awesome-marker awesome-marker-icon-<%= color %>" style="width: 35px; height: 45px;">
    <i class="fa fa-<%= icon %> icon-white"></i>
</div>
</script>


<script type="text/template" id="thumbnail_template">
<img src="<%= thumbnail %>" width="50" height="50" class="thumbnail" style="border-color: <%= color %>"/>
</script>


<script type="text/template" id="footer_template">
<a href="<%= link %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Vis hos <%= provider %><a/>
</script>


<script type="text/template" id="error_template">
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Feil!</strong> <span class="content"></span>
</div>
</script>


<script type="text/template" id="ra_sparql_template">
<h3><%= name %></h3>
<% if (lokimg) { %>
<img class="fullwidth" src="<%= lokimg %>" />
<% } %>
<p><%= beskrivelse %></p>

</script>


<script type="text/template" id="flickr_template">
<h3><%= title %></h3>
<img class="fullwidth" src="<%= image %>" />

</script>


<script type="text/template" id="husmann_template">
<h3>Kulturminne</h3>
<dl>
    <dt>Navn</dt>
    <dd><%= Navn %></dd>
</dl>
</script>


<script type="text/template" id="folketelling_template">
<h3><%= gaardsnavn_gateadr %></h3>
</script>


<script type="text/template" id="brukerminne_template">
<h3><%= title %></h3>

<% if(!_.isUndefined(arguments[0].KortBeskrivelse)) { %>
<p><%= KortBeskrivelse %></p>
<% } %>

<p><%= Beskrivelse %></p>

<table class="sidebar-table">
    <tr>
      <td>Datering</td>
      <td><%= Datering %></td>
    </tr>
    <tr>
      <td>Opprinnelig funksjon</td>
      <td><%= OpprinneligFunksjon %></td>
    </tr>
    <% if(!_.isUndefined(arguments[0].NåværendeFunksjon)) { %>
    <tr>
      <td>Nåværende funksjon</td>
      <td><%= NåværendeFunksjon %></td>
    </tr>
    <% } %>
    <% if(!_.isUndefined(arguments[0].Kilder)) { %>
    <tr>
      <td>Kilder</td>
      <td><%= Kilder %></td>
    </tr>
    <% } %>
</table>
</script>




        <script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="../bower_components/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
        <script src="../bower_components/esri2geo/esri2geo.js" type="text/javascript"></script>
        <script src="../bower_components/KNreiseAPI/dist/KNreiseAPI.min.js" type="text/javascript"></script>
        <script src="../common/js/ErrorHandler.js" type="text/javascript"></script>
        <script src="../common/js/util.js" type="text/javascript"></script>
        <script src="../common/js/style.js" type="text/javascript"></script>
        <script src="../bower_components/L.TileLayer.Kartverket/dist/L.TileLayer.Kartverket.min.js" type="text/javascript"></script>
        <script src="../common/js/datasets.js" type="text/javascript"></script>
        <script src="../bower_components/html.sortable/dist/html.sortable.min.js" type="text/javascript"></script>

        <script type="text/javascript">
            (function () {
                'use strict';

                var layerTemplate = _.template('<option value="<%= id %>" <% if(selected) {print("selected") } %>><%= id %></option>');
var datasetTemplate = _.template('<li draggable="true" class="list-group-item" value="<%= key %>"><%= name %></li>');

var api = new KR.API({
    cartodb: {
        apikey: 'e6b96c1e6a71b8b2c6f8dbb611c08da5842f5ff5',
        user: 'knreise'
    }
});

function toggleInputs(element, disabled) {
    var inputs = element.find('select, input:not([type="radio"])');
    if (disabled)  {
        inputs.attr('disabled', 'disabled');
    } else {
        inputs.removeAttr('disabled');
        element.find('input[type="radio"]').prop('checked', true);
    }
}


function buildLimitSelections(ids, municipalities) {
    var callback;
    var selected = 0;

    var extras = {
        'line': {
            allstatic: true
        }
    };

    var elements = _.map(ids, function (id, idx) {
        var template = _.template($('#' + id + '_template').html());
        var element = $('#' + id + '_container').html(template({
            municipalities: municipalities
        }));
        if (idx !== selected) {
            toggleInputs(element, true);
        } else {
            toggleInputs(element, false);
        }
        return element;
    });

    _.each(elements, function (element, index) {
        element.on('click', function () {
            _.each(elements, function (e, idx) {
                if (idx === index) {
                    toggleInputs(elements[idx], false);
                    selected = index;
                } else {
                    toggleInputs(elements[idx], true);
                }
                if (callback) {
                    callback();
                }
            });
        });
    });

    _.each(elements, function (element) {
        element.find('select, input').on('change', function (e) {
            if (callback) {
                callback();
            }
        });
    });

    return {
        getValues: function () {
            var values = {};
            if (_.has(extras, ids[selected])) {
                values = extras[ids[selected]];
            }
            return _.reduce(elements[selected].find('select, input'), function (acc, el) {
                acc[el.id] = $(el).val();
                return acc;
            }, values);
        },
        callback: function (cb) {
            callback = cb;
            cb();
        }
    };

}


function getMunicipalityList(callback) {
    var dataset = {
        api: 'cartodb',
        query: 'SELECT komm, navn FROM kommuner ORDER BY navn',
        mapper: function (data) {
            return data.rows;
        }
    };

    api.getData(dataset, callback);
}


function buildLayerList(element) {
    var callback;
    var selected = 'norges_grunnkart_graatone';

    var layers = L.tileLayer.kartverket.getLayers();
    layers = layers.concat(['nib', 'hist']);

    var options = _.chain(layers)
        .map(function (layer) {
            return {id: layer, selected: layer === selected};
        })
        .map(layerTemplate)
        .value();


    element.html(options);

    element.on('change', function (e) {
        callback();
    });

    return {
        getValues: function () {
            return {layer: element.val()};
        },
        callback: function (cb) {
            callback = cb;
            cb();
        }
    };
}

function getTitle(element) {
    var callback;

    element.on('change', function (e) {
        callback();
    });

    return {
        getValues: function () {
            var title = element.val();
            if (title !== '') {
                return {title: title};
            }
            return {};
        },
        callback: function (cb) {
            callback = cb;
            cb();
        }
    };
}


function buildDatasetList(element) {
    var callback;
    var datasetConfig = KR.Config.getDatasetList(api, null);
    var datasets = _.map(datasetConfig, function (value, key) {
        var name = value.name || key;
        return datasetTemplate({name: name, key: key});
    });
    $('#datasets-available').html(datasets);

    $('#datasets-available, #datasets-selected').sortable({
        connectWith: '.connected'
    }).bind('sortupdate', function () {
        callback();
    });

    return {
        getValues: function () {
            var checked = _.map($('#datasets-selected').find('li'), function (li) {
                return $(li).attr('value');
            });
            return {
                datasets: checked.join(',')
            };
        },
        callback: function (cb) {
            callback = cb;
            cb();
        }
    };
}


function setupClick(element, limits, layer, datasets, title) {

    var generateUrl = function () {
        var params = _.extend(
            {},
            datasets.getValues(),
            limits.getValues(),
            layer.getValues(),
            title.getValues()
        );
        var path = window.location.pathname;
        var url = location.protocol + '//' + location.host + path.replace('/generator.html', '') +  '/config.html?' + KR.Util.createQueryParameterString(params);
        $('.map-link').html('<a href="' + url + '" target="_blank">' + url + '</a>');
    };


    limits.callback(generateUrl);
    layer.callback(generateUrl);
    datasets.callback(generateUrl);

    title.callback(generateUrl);

    element.on('click', generateUrl);
}


getMunicipalityList(function (municipalities) {
    var limits = buildLimitSelections(['municipality', 'line', 'bbox'], municipalities);
    var title = getTitle($('#title'));
    var datasets = buildDatasetList($('#datasets'));
    var layer = buildLayerList($('#layers'));
    setupClick($('#generate'), limits, layer, datasets, title);
});

            }());
        </script>
    </body>
</html>
