<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='../bower_components/components-font-awesome/css/font-awesome.min.css' rel='stylesheet' />
        <link href='../bower_components/leaflet/dist/leaflet.css' rel='stylesheet' />
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../common/css/generator.css' rel='stylesheet' />

        <title>KNReise - Demonstratorgenerator</title>
    </head>
    <body>

            <div class="well">
                <img src="../common/img/knreise_logo.png"/>
                <h2>Sett opp ditt eget kart</h2>

                <div>
                   Dette er et grensesnitt for å sette opp egendefinerte kart med utvalgt informasjon fra ulike datasett med stedfestet kulturhistorie, naturinformasjon, historiske kilder og leksikalsk informasjon. Tjenesten er utviklet med bistand fra <a href="http://norkart.no">Norkart</a> i regi av <a href="http://kulturognaturreise.no">Kultur- og naturreise</a> - koden som er brukt ligger på <a href="https://github.com/knreise/demonstratorer/">GitHub</a> og det finnes også flere eksempler på <a href="../">ferdig definerte kart</a>.
                </div>
            </div>
            
            <div class="panel panel-default"  style="border: 0px">
              <div class="panel-body">
                <input id="title" type="text" class="form-control" placeholder="Navn på kart"/>
              </div>
            </div>

            <form autocomplete="off"> 

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <span class="fa-stack fa-lg">
                         <i class="fa fa-circle fa-stack-2x"></i>
                         <i class="fa fa-inverse fa-stack-1x">1</i>
                      </span> Velg område
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
	                  <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">  
                             Velg område du vil vise innhold fra - velge enten kommune, fylke, linje/rute eller definer ditt eget område i kartet                         
                            </div>
                        </div>
                      </div>

                      <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">  
                                <div id="municipality_container"></div>
                                <div><input id="geomFilter_cb" type="checkbox" name="geomFilter" checked/> Begrens utvalg til kommune/fylke</div>
                                <div><input id="showGeom_cb" type="checkbox" name="showGeom" checked/> Vis kommune/fylke</div>
                            </div>
                            <div class="col-md-3">
                                <div id="county_container"></div>
                            </div>
                            <div class="col-md-3">
                                <div id="line_container"></div>
                            </div>
                            <div class="col-md-3">
                                <div id="bbox_container"></div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <span class="fa-stack fa-lg">
                         <i class="fa fa-circle fa-stack-2x"></i>
                         <i class="fa fa-inverse fa-stack-1x">2</i>
                      </span> Velg datasett
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div id="datasets" class="list-group"></div>
                </div>
              </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <span class="fa-stack fa-lg">
                         <i class="fa fa-circle fa-stack-2x"></i>
                         <i class="fa fa-inverse fa-stack-1x">3</i>
                      </span> Velg bakgrunnskart
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <select id="layers" class="form-control"></select>
                    <div class="map" id="layers_map"></div>
                    <input id="3d" type="checkbox" name="3d"/> Bruk 3d-kart
                  </div>
                </div>
              </div>
            </div>
            
            
            <div class="well">
                <i class="fa fa-external-link-square"></i> <b>VIS KART:</b>
                <div class="map-link"></div>
            </div>

            
            <!-- <button id="show-params" class="btn btn-default" type="button">hent parametere</button>
            <pre id="params" class="pre-scrollable"></pre>
            -->
        
        </form>
        

        <script type="text/template" id="dataset_template">
            <div class="list-group-item" style="float: left;height:135px;width: 360px;">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="<%= key %>" name="datasetsCheckbox" class="checkbox-primary"/>
                    <b><%= name %></b>
                  </label>
                </div>
                <p class="list-group-item-text">
                    <%= description %>
                </p>
                <% if (allowTopic) { %>
                   <p class="list-group-item-text" style="padding-top: 5px;"><input id="<%= key %>-topic" class="form-control input-sm" type="text" placeholder="emneord" disabled="disabled"></p>
                <% } %>
            </div>
        </script>

        <script type="text/template" id="municipality_template">
            <h3><input type="radio" name="inputType" /> Kommune</h3>
            <select id="komm" class="form-control" multiple size="10">
            <% _.each(municipalities, function (municipality) { %>
                <option value="<%= municipality.komm %>"><%= municipality.navn %></option>
            <% }) %>
            </select>
        </script>

        <script type="text/template" id="county_template">
            <h3><input type="radio" name="inputType" /> Fylke</h3>
            <select id="fylke" class="form-control" multiple size="10">
            <% _.each(counties, function (county) { %>
                <option value="<%= county.fylkesnr %>"><%= county.navn %></option>
            <% }) %>
            </select>
        </script>


        <script type="text/template" id="line_template">
            <h3><input type="radio" name="inputType" /> Linje</h3>
            <input id="line" type="text" class="form-control" placeholder="Linje" />
            <span id="helpBlock" class="help-block">For linjer fra ut.no: bruk formen utno/id</span>
            <h5>Buffer (km)</h5>
            <input id="buffer" type="number" class="form-control" value="2" />
            <h5>Linjefarge (hex)</h5>
            <input id="linecolor" type="text" class="form-control" value="#0033ff" />
        </script>

        <script type="text/template" id="bbox_template">
            <h3><input type="radio" name="inputType" /> Område i kart</h3>
            <input id="bbox" type="text" class="form-control" value=""/>
            <div class="map" id="bbox_map"></div>
        </script>

        <script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
        <script src="../bower_components/esri2geo/esri2geo.js" type="text/javascript"></script>
        <script src="../bower_components/KNreiseAPI/dist/KNreiseAPI.min.js" type="text/javascript"></script>
        
        <script src="../bower_components/leaflet-sidebar/src/L.Control.Sidebar.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet.markercluster/dist/leaflet.markercluster.js" type="text/javascript"></script>
        <script src="../bower_components/turf/turf.min.js" type="text/javascript"></script>
        <script src="../bower_components/togeojson/togeojson.js" type="text/javascript"></script>
        <script src="../bower_components/wellknown/wellknown.js" type="text/javascript"></script>
        <script src="../bower_components/proj4/dist/proj4.js" type="text/javascript"></script>
        <script src="../bower_components/CryptoJS/build/components/core.js" type="text/javascript"></script>
        <script src="../bower_components/CryptoJS/build/components/md5.js" type="text/javascript"></script>
        <script src="../bower_components/audiojs/audiojs/audio.min.js" type="text/javascript"></script>
        <script src="../bower_components/video.js/dist/video-js/video.js" type="text/javascript"></script>
        <script src="../bower_components/jquery-touchswipe/jquery.touchSwipe.js" type="text/javascript"></script>
        <script src="../bower_components/L.TileLayer.Kartverket/dist/L.TileLayer.Kartverket.min.js" type="text/javascript"></script>
        <script src="../bower_components/L.EasyButton/easy-button.js" type="text/javascript"></script>
        <script src="../bower_components/html.sortable/dist/html.sortable.min.js" type="text/javascript"></script>
        <script src="../dist/scripts.min.js" type="text/javascript"></script>
        <script src="../common/js/generator.js" type="text/javascript"></script>

        <script type="text/javascript">
            (function () {
                'use strict';
                KR.initGenerator();
            }());
        </script>
        
        <footer class="generatorfooter">
          <p class="small container" align="center">All koden er fritt tilgjengelig på <a href="https://github.com/knreise">GitHub</a> under Apache Software License, Version 1.1, se spesifikt <a href="https://github.com/knreise/demonstratorer">github.com/knreise/demonstratorer</a> og <a href="https://github.com/knreise/KNReiseAPI">github.com/knreise/KNReiseAPI</a>
          </p>
            <div class="generatorfooter">
                <img src="../common/img/samarbeidspartnere_ra1.png"/>
                <img src="../common/img/samarbeidspartnere_kulturradet.png"/>
                <img src="../common/img/samarbeidspartnere_sk_4.png"/>
                <img src="../common/img/samarbeidspartnere_riksarkivet.png"/>
            </div>
        </footer>
    </body>
</html>
