<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='../bower_components/components-font-awesome/css/font-awesome.min.css' rel='stylesheet' />
        <link href='../bower_components/leaflet/dist/leaflet.css' rel='stylesheet' />
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../common/css/generator.css' rel='stylesheet' />

    </head>
    <body>

        <h1>Demonstratorgenerator</h1>
        <form autocomplete="off">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>Link</h3>
                    <div class="map-link"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Tittel</h3>
                    <input id="title" type="text" class="form-control" placeholder="Navn på demonstrator">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                  <div id="municipality_container"></div>
                  <div id="county_container"></div>
                  <div>
                    <ul class="list-unstyled">
                      <li>
                        <input id="geomFilter_cb" type="checkbox" name="geomFilter" checked/> Begrens utvalg til kommune/fylke
                      </li>
                      <li>
                        <input id="showGeom_cb" type="checkbox" name="showGeom" checked/> Vis kommune/fylke</li>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2" id="line_container">
                </div>
                <div class="col-md-2" id="bbox_container">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>Datasett</h3>
                    <ul id="datasets" class="list-group"></ul>
                </div>
                <div class="col-md-2">
                    <h3>Bakgrunnskart</h3>
                    <select id="layers" class="form-control"></select>
                    <div class="map" id="layers_map"></div>
                    <h3>3d</h3>
                    <input id="3d" type="checkbox" name="3d"/> Bruk 3d-kart?
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3>Link</h3>
                    <div class="map-link"></div>
                </div>
            </div>
        </div>
        </form>

        <script type="text/template" id="dataset_template">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    <input type="checkbox" value="<%= key %>" name="datasetsCheckbox" />
                    <%= name %>
                </h4>
                <p class="list-group-item-text">
                    <%= description %>
                </p>
            </li>
        </script>

        <script type="text/template" id="municipality_template">
            <h3><input type="radio" name="inputType" /> Kommune</h3>
            <select id="komm" class="form-control" multiple>
            <% _.each(municipalities, function (municipality) { %>
                <option value="<%= municipality.komm %>"><%= municipality.navn %></option>
            <% }) %>
            </select>
        </script>

        <script type="text/template" id="county_template">
            <h3><input type="radio" name="inputType" /> Fylke</h3>
            <select id="fylke" class="form-control" multiple>
            <% _.each(counties, function (county) { %>
                <option value="<%= county.fylkesnr %>"><%= county.navn %></option>
            <% }) %>
            </select>
        </script>


        <script type="text/template" id="line_template">
            <h3><input type="radio" name="inputType" /> Linje</h3>
            <input id="line" type="text" class="form-control" placeholder="Linje">
            <span id="helpBlock" class="help-block">For linjer fra ut.no: bruk formen utno/id</span>
            <h5>Buffer (km)</h5>
            <input id="buffer" type="number" class="form-control" value="2">
            <h5>Linjefarge (hex)</h5>
            <input id="linecolor" type="text" class="form-control" value="#0033ff">
        </script>

        <script type="text/template" id="bbox_template">
            <h3><input type="radio" name="inputType" /> BBox</h3>
            <input id="bbox" type="text" class="form-control" value="3.779297,57.751076,31.464844,71.357067">
            <div class="map" id="bbox_map"></div>
        </script>




        <script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="../bower_components/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
        <script src="../bower_components/esri2geo/esri2geo.js" type="text/javascript"></script>
        <script src="../bower_components/KNreiseAPI/dist/KNreiseAPI.min.js" type="text/javascript"></script>
        <script src="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet-sidebar/src/L.Control.Sidebar.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet.markercluster/dist/leaflet.markercluster.js" type="text/javascript"></script>
        <script src="../bower_components/turf/turf.min.js" type="text/javascript"></script>
        <script src="../bower_components/togeojson/togeojson.js" type="text/javascript"></script>
        <script src="../bower_components/wellknown/wellknown.js" type="text/javascript"></script>
        <script src="../bower_components/proj4/dist/proj4.js" type="text/javascript"></script>
        <script src="../bower_components/CryptoJS/build/components/core.js" type="text/javascript"></script>
        <script src="../bower_components/CryptoJS/build/components/md5.js" type="text/javascript"></script>
        <script src="../bower_components/audiojs/audiojs/audio.min.js" type="text/javascript"></script>
        <script src="../bower_components/video.js/dist/video-js/video.js" type="text/javascript"></script>
        <script src="../bower_components/jquery-touchswipe/jquery.touchSwipe.js" type="text/javascript"></script>
        <script src="../bower_components/L.TileLayer.Kartverket/dist/L.TileLayer.Kartverket.min.js" type="text/javascript"></script>
        <script src="../bower_components/L.EasyButton/easy-button.js" type="text/javascript"></script>
        <script src="../bower_components/html.sortable/dist/html.sortable.min.js" type="text/javascript"></script>
        <script src="../dist/scripts.min.js" type="text/javascript"></script>

        <script type="text/javascript">
            (function () {
                'use strict';

                var layerTemplate = _.template('<option value="<%= id %>" <% if(selected) {print("selected") } %>><%= id %></option>');
                var datasetTemplate = _.template($('#dataset_template').html());

                var api = new KR.API();

                function toggleInputs(element, disabled) {
                    var inputs = element.find('select, input:not([type="radio"])');
                    if (disabled) {
                        inputs.attr('disabled', 'disabled');
                    } else {
                        inputs.removeAttr('disabled');
                        element.find('input[type="radio"]').prop('checked', true);
                    }
                }


                function buildLimitSelections(ids, municipalities, counties) {
                    var callback;
                    var selected = 0;

                    var extras = {
                        'line': {
                            allstatic: true
                        }
                    };

                    var elements = _.map(ids, function (id, idx) {
                        var template = _.template($('#' + id + '_template').html());
                        var element = $('#' + id + '_container').html(template({
                            municipalities: municipalities,
                            counties: counties
                        }));
                        if (idx !== selected) {
                            toggleInputs(element, true);
                        } else {
                            toggleInputs(element, false);
                        }
                        return element;
                    });

                    _.each(elements, function (element, index) {
                        element.on('click', function () {
                            _.each(elements, function (e, idx) {
                                if (idx === index) {
                                    toggleInputs(elements[idx], false);
                                    selected = index;
                                } else {
                                    toggleInputs(elements[idx], true);
                                }
                                if (callback) {
                                    callback();
                                }
                            });
                        });
                    });

                    _.each(elements, function (element) {
                        element.find('select, input').on('change', function () {
                            if (callback) {
                                callback();
                            }
                        });
                    });

                    var map = L.map('bbox_map').fitBounds(L.latLngBounds.fromBBoxString('3.779297,57.751076,31.464844,71.357067'));
                    var layer = L.tileLayer.kartverket('norges_grunnkart').addTo(map);
                    map.on('moveend', function () {
                        $('#bbox').val(map.getBounds().toBBoxString());
                        callback();
                    });

                    return {
                        getValues: function () {
                            var values = {};
                            if (_.has(extras, ids[selected])) {
                                values = extras[ids[selected]];
                            }
                            return _.reduce(elements[selected].find('select, input'), function (acc, el) {
                                if (el.id && $(el).val()) {
                                  acc[el.id] = $(el).val();
                                }
                                return acc;
                            }, values);
                        },
                        callback: function (cb) {
                            callback = cb;
                            cb();
                        }
                    };

                }

                function getCountyList(callback) {
                    var dataset = {
                        api: 'cartodb',
                        query: 'SELECT fylkesnr, navn FROM fylker ORDER BY navn',
                        mapper: function (data) {
                            return data.rows;
                        }
                    };

                    api.getData(dataset, callback);
                }

                function getMunicipalityList(callback) {
                    var dataset = {
                        api: 'cartodb',
                        query: 'SELECT komm, navn FROM kommuner ORDER BY navn',
                        mapper: function (data) {
                            return data.rows;
                        }
                    };

                    api.getData(dataset, callback);
                }


                function buildLayerList(element) {
                    var callback;
                    var selected = 'norges_grunnkart_graatone';

                    var layers = L.tileLayer.kartverket.getLayers();
                    layers = layers.concat(['nib', 'hist']);

                    var options = _.chain(layers)
                        .map(function (layer) {
                            return {id: layer, selected: layer === selected};
                        })
                        .map(layerTemplate)
                        .value();

                    var map = L.map('layers_map').setView([65.5, 17.0], 4);
                    var layer = L.tileLayer.kartverket(selected).addTo(map);

                    element.html(options);

                    element.on('change', function (e) {
                        if (layer) {
                          map.removeLayer(layer);
                        }
                        var layerName = element.val();

                        KR.Util.getBaseLayer(layerName, function (l) {
                            if (l)  {
                              layer = l;
                              layer.addTo(map);
                            } else {
                              layer = null;
                            }
                            
                        });

                        callback();
                    });

                    return {
                        getValues: function () {
                            return {layer: element.val()};
                        },
                        callback: function (cb) {
                            callback = cb;
                            cb();
                        }
                    };
                }

                function getTitle(element) {
                    var callback;

                    element.on('change', function (e) {
                        callback();
                    });

                    return {
                        getValues: function () {
                            var title = element.val();
                            if (title !== '') {
                                return {title: title};
                            }
                            return {};
                        },
                        callback: function (cb) {
                            callback = cb;
                            cb();
                        }
                    };
                }


                function buildDatasetList(element) {
                    var callback;
                    var datasetConfig = KR.Config.getDatasetList(api, null);

                    var datasets = _.chain(datasetConfig)
                      .map(function (value, key) {
                          if (value.hideFromGenerator) {
                            return;
                          }
                          var name = value.name || key;
                          var description = value.description || 'Ingen beskrivelse';
                          return datasetTemplate({
                              name: name,
                              key: key,
                              description: description
                          });
                      })
                      .compact()
                      .value();

                    $('#datasets')
                        .html(datasets)
                        .sortable().bind('sortupdate', function () {
                            callback();
                        })
                        .find('input[name="datasetsCheckbox"]')
                        .change(function (a) {
                            callback();
                        });

                    return {
                        getValues: function () {
                            var checkboxes = $('#datasets').find('input[name="datasetsCheckbox"]');
                            var checked = _.chain(checkboxes)
                                .filter(function (checkbox) {
                                    return checkbox.checked;
                                })
                                .map(function (checkbox) {
                                    return $(checkbox).val();
                                })
                                .value();

                            return {
                                datasets: checked.join(',')
                            };
                        },
                        callback: function (cb) {
                            callback = cb;
                            cb();
                        }
                    };
                }

                function buildFilter() {
                    var callback;

                    var geomFilter = $('#geomFilter_cb');
                    var showGeom = $('#showGeom_cb');
                    geomFilter.click(function () {
                        if (showGeom.is(':checked')) {
                            showGeom.prop('checked', false);
                        }
                        callback();
                    });

                    showGeom.click(function () {
                        if (!geomFilter.is(':checked')) {
                            geomFilter.prop('checked', true);
                        }
                        callback();
                    });

                    return {
                        getValues: function () {
                            return {
                                geomFilter: geomFilter.is(':checked'),
                                showGeom: showGeom.is(':checked')
                            };
                        },
                        callback: function (cb) {
                            callback = cb;
                            cb();
                        }
                    }
                }

                function setupClick(element, limits, layer, datasets, title, filters) {
                    var use3d = false;
                    var generateUrl = function () {
                        var params = _.extend(
                            {},
                            datasets.getValues(),
                            limits.getValues(),
                            layer.getValues(),
                            title.getValues()
                        );

                        if (_.has(params, 'komm') || _.has(params, 'fylke')) {
                            params = _.extend(params, filters.getValues());
                        }

                        var path = window.location.pathname;

                        var page = '/config.html';
                        if (use3d) {
                            page = '/config_3d.html';
                        }


                        var url = location.protocol + '//' + location.host + path.replace('/generator.html', '') + page + '?' + KR.Util.createQueryParameterString(params);
                        $('.map-link').html('<a href="' + url + '" target="_blank">' + url + '</a>');
                    };


                    limits.callback(generateUrl);
                    layer.callback(generateUrl);
                    datasets.callback(generateUrl);
                    title.callback(generateUrl);
                    filters.callback(generateUrl);

                    element.on('click', generateUrl);

                    $('#3d').on('change', function () {
                        use3d = this.checked;
                        generateUrl();
                    });
                }


                var counties, municipalities;

                var fetched = _.after(2, function () {
                    var limits = buildLimitSelections(['municipality', 'county', 'line', 'bbox'], municipalities, counties);
                    var title = getTitle($('#title'));
                    var datasets = buildDatasetList($('#datasets'));
                    var layer = buildLayerList($('#layers'));
                    var filters = buildFilter();
                    setupClick($('#generate'), limits, layer, datasets, title, filters);
                });


                getCountyList(function (res) {
                    counties = res;
                    fetched();
                });


                getMunicipalityList(function (res) {
                    municipalities = res;
                    fetched();
                });

            }());
        </script>
    </body>
</html>
