<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <link href='../bower_components/leaflet/dist/leaflet.css' rel='stylesheet' />
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../common/css/fullscreenmap.css' rel='stylesheet' />
        <link href='../common/css/L.Knreise.Control.Datasets.css' rel='stylesheet' />
        <link href='../common/css/markers.css' rel='stylesheet' />

    </head>
    <body>

<div id="sidebar"></div>
<div id="map"></div>

<script type="text/template" id="popup_template">
<h3><%= title %></h3>
<p><%= dataset %></p>
<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>
<p><%= content %></p>
<a href="<%= link %>">Mer info</a>
</script>


<script type="text/template" id="list_item_template">
<a href="#" class="list-group-item">
    <div class="media">
        <div class="media-left media-middle">
            <%= marker %>
        </div>
        <div class="media-body">
            <%= title %>
        </div>
    </div>
</a>
</script>




        <script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="../bower_components/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
        <script src="../bower_components/esri2geo/esri2geo.js" type="text/javascript"></script>
        <script src="../bower_components/KNreiseAPI/dist/KNreiseAPI.min.js" type="text/javascript"></script>
        <script src="../common/js/ErrorHandler.js" type="text/javascript"></script>
        <script src="../common/js/util.js" type="text/javascript"></script>
        <script src="../common/js/style.js" type="text/javascript"></script>
        <script src="../bower_components/L.TileLayer.Kartverket/dist/L.TileLayer.Kartverket.min.js" type="text/javascript"></script>
        <script src="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js" type="text/javascript"></script>
        <script src="../common/js/L.Knreise.GeoJSON.js" type="text/javascript"></script>
        <script src="../common/js/L.Knreise.Control.Datasets.js" type="text/javascript"></script>
        <script src="../common/js/DatasetLoader.js" type="text/javascript"></script>

        <script type="text/javascript">
            (function () {
                'use strict';

                var map = L.map('map');

//add a background layer from kartverket
L.tileLayer.kartverket('topo2graatone').addTo(map);


//initialize the map in oslo
map.setView(new L.LatLng(59.910586, 10.734329), 7);

var api = new KR.API();

var datasetLoader = new KR.DatasetLoader(api, map);

var datasets = [
    {
        name: 'Museumsdata',
        dataset: {
            api: 'norvegiana',
            dataset: ['MUSIT', 'DiMu']
        },
        isStatic: false,
        bbox: true,
        thumbnails: false,
        smallMarker: true,
        minFeatures: 1000,
        cluster: false
    }
];

var layers = datasetLoader.loadDatasets(datasets);
L.control.datasets(layers).addTo(map);
            }());
        </script>
    </body>
</html>
