<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

        <link href='../bower_components/leaflet/dist/leaflet.css' rel='stylesheet' />
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' rel='stylesheet' />
        <link href='../bower_components/Leaflet.Photo/Leaflet.Photo.css' rel='stylesheet' />
        <link href='../bower_components/leaflet-sidebar/src/L.Control.Sidebar.css' rel='stylesheet' />
        <link href='../common/css/fullscreenmap.css' rel='stylesheet' />
        <link href='../common/css/markers.css' rel='stylesheet' />
        <link href='../common/css/L.Knreise.Control.Sidebar.css' rel='stylesheet' />
        <link href='../common/css/along-line.css' rel='stylesheet' />

    </head>
    <body>

<div id="sidebar"></div>
<div id="map"></div>
<div id="list-container" class="hidden">
    <div id="list" class="list-group"></div>
</div>

<script type="text/template" id="popup_template">
<h3><%= title %></h3>
<p><%= dataset %></p>
<% if (image) { %>
<a href="<%= link %>">
    <img class="fullwidth" src="<%= image %>" />
</a>
<% }%>
<p><%= content %></p>
<a href="<%= link %>">Mer info</a>
</script>


<script type="text/template" id="verneomraader_template">
<h3>Verneområde</h3>
<dl>
    <dt>Navn</dt>
    <dd><%= title %></dd>

    <dt>Faktaark</dt>
    <dd><a href="<%= link %>">naturbase.no</a></dd>

    <dt>Beskrivelse</dt>
    <dd><%= content %></dd>
</dl>
</script>


<script type="text/template" id="kulturminne_template">
<h3><%= title %></h3>

<table class="sidebar-table">
    <tr>
      <td>Type kulturminne</td>
      <td>??</td>
    </tr>
    <tr>
      <td>Kategori</td>
      <td><%= allProps.dc_subject[1] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Art</td>
      <td><%= allProps.dc_subject[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Vernestetus</td>
      <td><%= allProps.dc_subject[2] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Datering</td>
      <td><%= allProps.dc_date[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Registrerte funn</td>
      <td>??</td>
    </tr>
    <tr>
      <td>Synlig</td>
      <td>??</td>
    </tr>
</table>
</script>


<script type="text/template" id="musit_template">
<h3>MUSIT</h3>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>

<dl>
    <dt>Artefakt</dt>
    <dd><%= allProps.dc_subject %></dd>

    <dt>Beskrivelse</dt>
    <dd><% print(allProps.dc_description ? allProps.dc_description : '-') %></dd>

    <dt>Funnsted</dt>
    <dd><% print(allProps.abm_estateName ? allProps.abm_estateName : '-') %></dd>

    <dt>Materiale</dt>
    <dd><%= allProps.dcterms_medium %></dd>

    <dt>Datering</dt>
    <dd><% print(allProps.dc_date ? allProps.dc_date : '-') %></dd>

    <dt>Museum</dt>
    <dd><%= allProps.europeana_dataProvider %></dd>

    <dt>Mer informasjon</dt>
    <dd><a href="<%= link %>" target="_blank">link</a></dd>
</dl>
</script>


<script type="text/template" id="digitalt_museum_template">
<h3>Digitalt Museum</h3>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>

<dl>
    <dt>Navn</dt>
    <dd><%= title %></dd>

    <dt>Beskrivelse</dt>
    <dd><%= allProps.delving_description.join('<br />') %></dd>

    <dt>Kategori</dt>
    <dd><%= allProps.europeana_dataProvider %></dd>

    <dt>Mer informasjon</dt>
    <dd><a href="<%= link %>" target="_blank">digitaltmuseum.no</a></dd>
</dl>
</script>


<script type="text/template" id="digitalt_fortalt_template">
<h3><%= title %></h3>
<% if(contentType === 'VIDEO' && video) { %>
    <% if (video.indexOf('mp4') !== -1) { %>
        <video class="video-js vjs-default-skin fullwidth" controls
         preload="auto" height="315" poster="<%= images[0] %>"
         data-setup='{}'>
          <source src="<%= videoEmbed %>" type='video/mp4'>
        </video>
    <% } else { %>
        <iframe class="fullwidth" height="315" src="<%= videoEmbed %>" frameborder="0" allowfullscreen></iframe>
    <% } %>
    
<% } else if(contentType === 'SOUND' && sound) { %>
    <audio src="<%= sound %>" preload="auto"></audio>
<% } else if(contentType === 'IMAGE' && images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>
<%= content %>


<table class="sidebar-table">
    <tr>
      <td>Forfatter</td>
      <td><%= allProps.delving_creator[0] || allProps.dc_creator[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Publisert</td>
      <td><%= allProps.abm_digitised[0] || allProps.dcterms_created[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Lisens</td>
      <td><%= allProps.europeana_rights[0] || 'Opphavsrett' %></td>
    </tr>
</table>


</script>


<script type="text/template" id="list_item_template">
<a href="#" class="list-group-item">
    <div class="media">
        <div class="media-left media-middle">
            <%= marker %>
        </div>
        <div class="media-body">
            <%= title %>
        </div>
    </div>
</a>
</script>


<script type="text/template" id="fangstgrop_template">
<h3>Fangstgrop</h3>

</script>




        <script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="../bower_components/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
        <script src="../bower_components/esri2geo/esri2geo.js" type="text/javascript"></script>
        <script src="../bower_components/KNreiseAPI/dist/KNreiseAPI.js" type="text/javascript"></script>
        <script src="../common/js/ErrorHandler.js" type="text/javascript"></script>
        <script src="../common/js/util.js" type="text/javascript"></script>
        <script src="../common/js/style.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet-sidebar/src/L.Control.Sidebar.js" type="text/javascript"></script>
        <script src="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js" type="text/javascript"></script>
        <script src="../bower_components/L.EasyButton/easy-button.js" type="text/javascript"></script>
        <script src="../bower_components/turf/turf.min.js" type="text/javascript"></script>
        <script src="../bower_components/L.TileLayer.Kartverket/dist/L.TileLayer.Kartverket.min.js" type="text/javascript"></script>
        <script src="../common/js/L.Knreise.GeoJSON.js" type="text/javascript"></script>
        <script src="../common/js/L.Knreise.Control.Sidebar.js" type="text/javascript"></script>
        <script src="../common/js/L.Knreise.Control.Datasets.js" type="text/javascript"></script>
        <script src="../common/js/geolocatormock.js" type="text/javascript"></script>
        <script src="../common/js/AlongLine.js" type="text/javascript"></script>

        <script type="text/javascript">
            (function () {
                'use strict';

                var popupTemplate = _.template($('#popup_template').html());
var listElementTemplate = _.template($('#list_item_template').html());

var map = L.map('map');
L.tileLayer.kartverket('norges_grunnkart_graatone').addTo(map);

//set up an instance of the Norvegiana API
var api = new KR.API({
    cartodb: {
        apikey: 'e6b96c1e6a71b8b2c6f8dbb611c08da5842f5ff5',
        user: 'knreise'
    }
});

var sidebar = L.Knreise.Control.sidebar('sidebar', {
    position: 'left',
    template: popupTemplate,
    listElementTemplate: listElementTemplate
});
map.addControl(sidebar);

var pilegrimsleden_dovre = {
    api: 'cartodb',
    name: 'Pilegrimsleden',
    table: 'pilegrimsleden_dovre',
    mapper: KR.API.mappers.pilegrimsleden_dovre
};

var locate = L.easyButton(map, null, {icon: 'fa-user', title: 'Finn meg'});
var locateFollow = L.easyButton(map, null, {icon: 'fa-user-times', title: 'Følg meg', toggle: true});


KR.Config.templates = {
    'Kulturminnesok': _.template($('#kulturminne_template').html()),
    'DigitaltMuseum': _.template($('#digitalt_museum_template').html()),
    'Musit': _.template($('#musit_template').html()),
    'Digitalt fortalt': _.template($('#digitalt_fortalt_template').html())
};


function getLocation (callback, error) {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(callback);
    } else {
        error();
    }
}

function initGeoLoc(interval, callback, error) {
    getLocation(callback, error);
    return setInterval(function () {
        getLocation(callback, error);
    }, interval * 1000);
}

var datasets = [
    {
        name: 'Digitalt fortalt',
        dataset: {dataset: 'difo', api: 'norvegiana'},
        options: {allPages: true}
    },
    {
        name: 'Kulturminner',
        dataset: {dataset: 'Kulturminnesok', api: 'norvegiana'},
        options: {allPages: true}
    },
    {
        
        name: 'Museumsdata',
        dataset: {dataset: ['MUSIT', 'DiMu'], api: 'norvegiana'},
        options: {allPages: true}
    },
    {
        name: 'Artsobservasjoner',
        dataset: {dataset: 'Artsdatabanken', api: 'norvegiana'},
        options: {allPages: true}
    }
];

function getShowPointFunc(map, data, clickCallback) {
    var point;
    return function showPoint(pos) {
        var p = L.latLng(pos.coords.latitude, pos.coords.longitude);
        var snapped = alongLine.snapPoint(p);
        if (point) {
            map.removeLayer(point);
        }
        point = L.geoJson(snapped).getLayers()[0].setZIndexOffset(1000).addTo(map);
        map.setView(point.getLatLng(), 14, {animate: true});
        var sorted = alongLine.orderByDistance(data, snapped);

        var lis =_.chain(sorted.features)
            .first(10)
            .map(function (feature) {
                var icon = KR.Util.iconForFeature(feature);
                var el = $(listElementTemplate({
                    title: feature.properties.title,
                    icon: icon
                }));
                el.on('click', function () {
                    clickCallback(feature)
                });
                return el;
            })
            .value();
        $('#list').html(lis);
        $('#list-container').removeClass('hidden');
    };
}

var addFeatureClick = KR.Util.featureClick(sidebar);

var alongLine = new AlongLine(api);

alongLine.getLine(pilegrimsleden_dovre, function (data) {
    data.line.addTo(map);
    map.fitBounds(data.bounds);
    alongLine.fetchDatasets(datasets, function (data) {
        L.Knreise.geoJson(
            data,
            {
                dataset:  {
                    thumbnails: true,
                    smallMarker: true
                },
                onEachFeature: addFeatureClick
            }
        ).addTo(map);
        var showPoint = getShowPointFunc(map, data, _.bind(sidebar.showFeature, sidebar));

        locate.callback = function () {
            getLocation(showPoint);
        }

        var poller;
        locateFollow.callback = function () {
            poller = initGeoLoc(5, showPoint);
        }

        locateFollow.offCallback = function () {
            window.clearInterval(poller);
        }

    });

});
            }());
        </script>
    </body>
</html>
