<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>KNReise - Nidelva</title>


        <link href='../bower_components/fontawesome/css/font-awesome.min.css' rel='stylesheet' />
        <link href='../bower_components/leaflet/dist/leaflet.css' rel='stylesheet' />
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../bower_components/leaflet-sidebar/src/L.Control.Sidebar.css' rel='stylesheet' />
        <link href='../bower_components/leaflet.knreise-markers/dist/leaflet.knreise-markers.css' rel='stylesheet' />
        <link href='../bower_components/leaflet.markercluster/dist/MarkerCluster.css' rel='stylesheet' />
        <link href='../bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css' rel='stylesheet' />
        <link href='../bower_components/Leaflet.Photo/Leaflet.Photo.css' rel='stylesheet' />
        <link href='../bower_components/video.js/dist/video-js/video-js.css' rel='stylesheet' />
        <link href='../bower_components/cilogi-marker/dist/cilogi-marker.css' rel='stylesheet' />
        <link href='../dist/style.css' rel='stylesheet' />
        
        <meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="">

    </head>
    <body>

<div id="sidebar"></div>
<div id="map"></div>



<script type="text/template" id="description_template">
<p>Kulturminner og historie langs Nidelva i Trondheim kommune.</p>

<p>Denne kartl&oslash;sningen inkluderer data fra Riksantikvarens kulturminnes&oslash;k, Trondheim byarkiv, Digitalt museum, Universitetsmuseene, Digitalt fortalt, Milj&oslash;direktoratets verneomr&aring;der, Lokalhistoriewiki og Wikipedia.</p>

</br>
</script>



<script type="text/template" id="list_item_template">
<a href="#" class="list-group-item">
    <div class="media">
        <div class="media-left media-middle">
            <%= marker %>
        </div>
        <div class="media-body">
            <h6><%= title %></h6>
        </div>
    </div>
</a>
</script>


<script type="text/template" id="marker_template">
<div class="" style="width: 3px; height: 45px; background-color: <%= color %>; border-radius:4px;">
</div>
</script>


<script type="text/template" id="thumbnail_template">
<img src="<%= thumbnail %>" srcset="<%= thumbnail2x %> 2x" width="80" height="60" class="thumbnail" style="border-color: <%= color %>"/>
</script>


<script type="text/template" id="footer_template">
<ul class="list-unstyled">
<% if (license) { %>
    <li><a href="<%= license %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Lisens<a/></li>
<% } %>
    <li><a href="<%= link %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Vis hos <%= provider %><a/></li>
</ul>
</script>


<script type="text/template" id="error_template">
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Feil!</strong> <span class="content"></span>
</div>
</script>


<script type="text/template" id="message_template">
<div class="alert alert-dismissible" role="alert">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="content"></div>
</div>
</script>


<script type="text/template" id="response_form_template">

<div class="feedback-form">
  <p class="show-more"><i class="fa fa-envelope-o"></i> Tilbakemelding</p>
  <form class="hidden">
    <h4>Tilbakemelding</h4>
    <div class="form-group">
      <label for="form_email">Har du spørsmål eller kommentarer til denne informasjonen eller ønsker du å 
        si fra om feil eller mangler, så kan du gjøre det her:</label>
      <textarea id="form_message" class="form-control" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="form_email">Din epost:</label>
      <input type="email" class="form-control" id="form_email">
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>
  <div id="form-success" class="media hidden">
      <button class="close pull-right" aria-label="Close" data-dismiss="alert" type="button">
        <span aria-hidden="true">×</span>
      </button>
      <div class="media-left">
        <i class="fa fa-check-circle fa-3x"></i>
      </div>
      <div class="media-body">
      </div>
  </div>
</div>
</script>


<script type="text/template" id="splashscreen_template">
<h2><%= title %></h2>
<% if (image) { %> 
<img class="splash-image" src="<%= image %>">
<% } %>
<div class="splash-content">
    <% if (description) { %> 
    <div><%= description %></div>
    <% } %>
    <% if (creator) { %> 

        <table class="sidebar-table">
            <tr>
              <td>Laget av</td>
              <td><%= creator %></td>
            </tr>
        </table>

    <% } %>
    
    <% if (spinner) { %>
        <p id="splash_spinner">
            <i class="fa fa-spinner fa-pulse fa-4x"></i>
            Laster data..
        </p>
    <%} %>

    <div class="footer small">
        <p>
            Dette kartet er basert på åpne data og en løsning utviklet i regi av <a href="http://kulturognaturreise.no">Kultur- og naturreise</a>. Se også <a href="http://knreise.no/demonstratorer">andre kart og informasjon om selve løsningen</a>. All koden er fritt tilgjengelig på <a href="https://github.com/knreise/demonstratorer">GitHub</a>.</p>
        <p>
            <input id="persist_splash_cb" type="checkbox"> Ikke vis ved oppstart
        </p>
    </div>
    
</div>
</script>


<script type="text/template" id="user_position_template">
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg); -webkit-transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
</script>

<script type="text/template" id="verneomraader_template">
<h3><%= title %></h3>

<p><%= content %></p>

<table class="sidebar-table">
    <tr>
      <td>Verneform</td>
      <td><%= verneform %></td>
    </tr>
</table>

</script>


<script type="text/template" id="kulturminne_template">
<h3><%= title %></h3>

<table class="sidebar-table">
    <tr>
      <td>Type kulturminne</td>
      <td>??</td>
    </tr>
    <tr>
      <td>Kategori</td>
      <td><%= allProps.dc_subject[1] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Art</td>
      <td><%= allProps.dc_subject[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Vernestetus</td>
      <td><%= allProps.dc_subject[2] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Datering</td>
      <td><%= allProps.dc_date[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Registrerte funn</td>
      <td>??</td>
    </tr>
    <tr>
      <td>Synlig</td>
      <td>??</td>
    </tr>
</table>
</script>


<script type="text/template" id="kulturminne2_template">
<h3>Kulturminne</h3>

<dl>
    <dt>Navn</dt>
    <dd><%= LokalitetNavn %></dd>

    <dt>Kategori</dt>
    <dd><%= Kategori %></dd>

    <dt>Vernestatus</dt>
    <dd><%= Vernestatus %></dd>

    <dt>Beskrivelse</dt>
    <dd><%= Beskrivelse %></dd>

</dl>
</script>


<script type="text/template" id="musit_template">
<h3><%= allProps.dc_title %></h3>

<% if(images) { %>
    <img class="fullwidth img-thumbnail" src="<%= images[0] %>" />
<% } %>

<p><%= allProps.dc_description %></p>

<table class="sidebar-table">
    <tr>
      <td>Samling</td>
      <td><%= allProps.europeana_dataProvider[0] %></td>
    </tr>

    <% if (allProps.dc_date) { %>
    <tr>
      <td>Datering</td>
      <td><%= allProps.dc_date[0] %></td>
    </tr>
    <% } %>

    <% if (allProps.dc_creator) { %>
    <tr>
      <td>Opphavsperson</td>
      <td><%= allProps.dc_creator[0] || 'n/a' %></td>
    </tr>
    <% } %>
</table>

</script>


<script type="text/template" id="digitalt_museum_template">
<h3><%= title %></h3>

<% if(images) { %>
    <img class="fullwidth img-thumbnail" src="<%= images[0] %>" />
<% } %>

<p><%= allProps.dc_description %></p>

<table class="sidebar-table">

    <tr>
      <td>Samling</td>
      <td><%= allProps.europeana_dataProvider[0] || 'n/a' %></td>
    </tr>

    <% if (allProps.abm_address) { %>
    <tr>
      <td>Adresse</td>
      <td><%= allProps.abm_address[0] %></td>
    </tr>
    <% } %>

    <% if (allProps.dc_creator){ %>
    <tr>
      <td>Opphavsperson</td>
      <td><%= allProps.dc_creator[0] %></td>
    </tr>
    <% } %>

    <% if (allProps.dc_subject) { %>
    <tr>
      <td>Emneord</td>
      <td><%= allProps.dc_subject.join(', ')%></td>
    </tr>
    <% } %>

</table>

</script>


<script type="text/template" id="digitalt_fortalt_template">
<h3><%= title %></h3>

<% if (media) { %>
  <%= KR.MediaCarousel.CreateMediaListMarkup(media) %>
<% } %>

<p><%= allProps.abm_introduction %></p>

<p><%= allProps.dc_description %></p>

<table class="sidebar-table">

    <tr>
      <td>Samling</td>
      <td><%= allProps.europeana_dataProvider[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Opphavsperson</td>
      <td><%= allProps.dc_creator[0] || 'n/a' %></td>
    </tr>
</table>


</script>


<script type="text/template" id="folketelling_template">
<% if (property.id.indexOf('g') === 0) { %> 
    <h3><%= property.gatenavn_og_nummer_i_gata %></h3>

    <p><%= property.bildelenke %></p>

    <table class="sidebar-table">
        <tr>
          <td>Hjemmehørende</td>
          <td><%= property.antall_hjemmehorende_personer || 0 %> personer</td>
        </tr>
        <tr>
          <td>Etasjer</td>
          <td><%= property.antall_etasjer %></td>
        </tr>
    </table>

    <% if(apartments) { %> 
        <% _.each(apartments.sort(function (a) {return parseInt(a.leilighetsnummer, 10)}), function (apartment) { %>
            <table class="sidebar-table">
                <tr colspan="2">
                  <td><h4>Leilighet <%= apartment.leilighetsnummer %></h4></td>
                </tr>
                <tr>
                  <td>Plassering</td>
                  <td><%= apartment.bekvemmelighetens_beliggenhet %></td>
                </tr>
                <tr>
                  <td>Etasje</td>
                  <td><%= apartment.etasje %></td>
                </tr>
                <tr>
                  <td>Husleie</td>
                  <td><%= apartment.husleie %></td>
                </tr>
                <tr>
                  <td>Beboere</td>
                  <td><%= KR.Util.formatPersons(apartment.antall_hjemmehorende_personer) %></td>
                </tr>
                <tr colspan="2">
                  <td>
                    <a class="sidebar-link" href="http://digitalarkivet.arkivverket.no/ft/leilighet/<%= apartment.id %>" target="_blank">
                      <i class="fa fa-external-link-square"></i> Vis hos Digitalarkivet
                    </a>
                  </td>
                </tr>
            </table>
        <% }) %>
    </ul>

<% } %>

<% } else { %> 

    <h3><%= property.bostedets_navn %></h3>

    <% _.each(residents, function (resident) { %>
      <table class="sidebar-table">
          <tr colspan="2">
            <td><h4><%= resident.fornavn %> <%= resident.patronymikon %> <%= resident.slektsnavn %></h4></td>
          </tr>
          <tr>
            <td>Født</td>
            <td><%= resident.fodselsaar %></td>
          </tr>
          <tr>
            <td>Fødested</td>
            <td><%= resident.fodested %></td>
          </tr>
          <tr>
            <td>Yrke</td>
            <td><%= resident.yrke %></td>
          </tr>
      </table>
    <% }) %>
    <a class="sidebar-link" href="http://digitalarkivet.arkivverket.no/ft/bosted_land/<%= property.id %>" target="_blank">
      <i class="fa fa-external-link-square"></i> Vis hos Digitalarkivet
    </a>
    

<% } %>

</script>


<script type="text/template" id="wikipedia_template">
<h3><%= title %></h3>


<% if(images) { %>
    <img class="fullwidth img-thumbnail" src="<%= images[0] %>" />
<% } %>

<div class="wikipedia-content">
    <%= content %>
</div>

</script>


<script type="text/template" id="ra_sparql_template">
<h3><%= name %></h3>

<% if(img) { %>
    <img class="fullwidth img-thumbnail" src="<%= img %>" />
<% } %>

<% if(!_.isUndefined(arguments[0].media)) { %>
  <%= KR.MediaCarousel.CreateMediaListMarkup(media) %>
<% } %>


<% if(!_.isUndefined(arguments[0].description)) { %>
<p><%= description %></p>
<% } %>

<table class="sidebar-table">
    <tr>
      <td>Type</td>
      <td><%= loccatlabel %></td>
    </tr>
    <% if(!_.isUndefined(arguments[0].locartlabel)) { %>
    <tr>
      <td>Lokalitetsart</td>
      <td><%= locartlabel  %></td>
    </tr>
    <% } %>
    <% if(!_.isUndefined(arguments[0].orglabel)) { %>
    <tr>
      <td>Ansvarlig organisasjon</td>
      <td><%= orglabel  %></td>
    </tr>
    <% } %>
</table>
</script>


<script type="text/template" id="fangstgrop_template">
<h3>Fangstgrop</h3>

</script>


<script type="text/template" id="flickr_template">
<h3><%= title %></h3>

<img class="fullwidth img-thumbnail" src="<%= image %>" />



<ul class="list-unstyled distance">
    <li>
	    <a href="https://www.flickr.com/photos/<%= owner %>/<%= id %>/"  target="_blank" class="sidebar-link" >
			<i class="fa fa-external-link-square"></i> Vis hos Flickr
		</a>
    </li>
</ul>


	


</script>


<script type="text/template" id="husmann_template">
<h3>Kulturminne</h3>

<dl>
    <dt>Navn</dt>
    <dd><%= Navn %></dd>
</dl>
</script>


<script type="text/template" id="brukerminne_template">
<h3><%= title %></h3>

<% if(!_.isUndefined(arguments[0].extra)) { %>
  <img class="fullwidth img-thumbnail" src="<%= extra.UrlTilBilde %>" />
  <p class="small sidebar-image-text grey">
  	<b><%= extra.Tittel %></b> - Foto: <%= extra.OpphavspersonFotograf %><br>
  	<%= extra.Copyright %>
  </p>
  
<% } %>


<% if(!_.isUndefined(arguments[0].KortBeskrivelse)) { %>
  <p><%= KortBeskrivelse %></p>
<% } %>

<p><%= Beskrivelse %></p>

<table class="sidebar-table">
    <tr>
      <td>Datering</td>
      <td><%= Datering %></td>
    </tr>
    <tr>
      <td>Opprinnelig funksjon</td>
      <td><%= OpprinneligFunksjon %></td>
    </tr>
    <% if(!_.isUndefined(arguments[0].NåværendeFunksjon)) { %>
    <tr>
      <td>Nåværende funksjon</td>
      <td><%= NåværendeFunksjon %></td>
    </tr>
    <% } %>
    <% if(!_.isUndefined(arguments[0].Kilder)) { %>
    <tr>
      <td>Kilder</td>
      <td><%= Kilder %></td>
    </tr>
    <% } %>
</table>
</script>


<script type="text/template" id="popup_template">
<h3><%= title %></h3>

<% if(images) { %>
    <img class="fullwidth img-thumbnail" src="<%= images[0] %>" />
<% } %>
<p><%= content %></p>

</script>


<script type="text/template" id="jernbanemuseet_template">
<h3><%= title %></h3>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>
<p><%= description %></p>

<% _.each(pages, function (page) { %>
    <h4><%= page.title %></h4>
    <% _.each(page.blocks, function (block) { %>
        <% if (block.type === 'text') { %>
            <%= block.text %>
        <% } else if (block.type === 'image_video') { %>
            <% _.each(block.media, function (media) { %>
                <% if (media.type === 'image') { %>
                    <img class="fullwidth" src="<%= media.url %>" />
                <% } else if (media.type === 'video') { %>
                    <video class="video-js vjs-default-skin fullwidth" controls preload="auto" height="315" data-setup='{}'>
                        <source src="<%= media.url %>" type='video/mp4'>
                    </video>
                <% } %>
                <p>
                    <strong><%= media.title %></strong><br/>
                    <em><%= media.description %></em>
                </p>
            <% }) %>
        <% } else if (block.type === 'links') { %>
            <ul>
            <% _.each(block.links, function (link) { %> 
                <li><a href="<%= link.url%>"><%= link.title %></a></li>
            <% }) %>
            </ul>
        <% } else if (block.type === 'audio') { %>
            <% _.each(block.media, function (media) { %>
                <p>
                    <strong><%= media.title %></strong><br/>
                    <em><%= media.description %></em>
                </p>
                <audio src="<%= media.url %>" preload="auto"></audio>
            <% }) %>
        <% } %>
    <% }) %>
<% }) %>

</script>


<script type="text/template" id="foto_sf_template">
<h3><%= title %></h3>
<% if(allProps.europeana_isShownBy) { %>
    <img class="fullwidth img-thumbnail" src="<%= allProps.europeana_isShownBy[0] %>" />
<% } %>
<p><%= content %></p>

</script>


<script type="text/template" id="nasjonalbiblioteket_template">
<h3><%= title %></h3>

<p><%= content %></p>



<ul class="list-unstyled distance">
    <li>
	    <a href="<%= url %>"  target="_blank" class="sidebar-link" >
			<i class="fa fa-external-link-square"></i> Vis bok i bokhylla.no
		</a>
    </li>
</ul>


	


</script>


<script type="text/template" id="byantikvaren_oslo_template">
<h3><%= title %></h3>

<img class="fullwidth img-thumbnail" src="<%= images %>" width="400"/>

<p><%= image_caption %></p>

<p><%= content %></p>

<p class="small"><%= kulturminne_tekst %></p>
	


</script>


<script type="text/template" id="3d_sketchfab_template">
<h3><%= title %></h3>

<p><%= content %></p>

<iframe width="420" height="280" src=<%= modelid %> frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>


</script>


<script type="text/template" id="nordkirker_template">
<h3><%= title %> (<%= type %>)</h3>


<% if(image) { %>
    <img class="fullwidth img-thumbnail" src="<%= image %>" />
<% } %>

<p>
    <%= content %>
</p>

<table class="sidebar-table">

    <tr>
      <td>Eier</td>
      <td><%= institution %></td>
    </tr>

</table>

<ul class="list-unstyled">
    <li><a href="<%= license %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Lisens<a/></li>
    <li><a href="<%= source %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Se hos Arkivverket<a/></li>
</ul>

</script>


<script type="text/template" id="bensinstasjoner_template">
<h3><%= title %></h3>


<% if(images) { %>
    <img class="fullwidth img-thumbnail" src="<%= image %>" />
<% } %>

<p>
    <%= content %>
</p>

<table class="sidebar-table">

    <tr>
      <td>Eier</td>
      <td><%= owner %></td>
    </tr>
    <tr>
      <td>Arkiv</td>
      <td><a href="http://www.arkivportalen.no/side/arkiv/detaljer?arkivId=no-a1450-06000000031532" style="color:black">Pa 0982 - Esso Norge A/S</a></td>
    </tr>

</table>

<ul class="list-unstyled">
    <li><a href="https://creativecommons.org/licenses/by/3.0/no/" class="sidebar-link"><i class="fa fa-external-link-square"></i> Lisens<a/></li>
    <li><a href="<%= url %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Se hos Arkivverket<a/></li>
</ul>

</script>


<script type="text/template" id="europeana280_template">
<h3><%= engtitle %></h3>
<h4><%= artist %></h4>


<% if(image) { %>
    <img class="fullwidth img-thumbnail" src="<%= image %>" />
<% } %>

        <h5 style="text-align: center"><%= origtitle %> (<%= year %>)</h5>
        
<!--<p>
    <%= content %>
</p>-->

<table class="sidebar-table">

    <tr>
      <td>Institution</td>
      <td><%= institution %></td>
    </tr>

</table>

<ul class="list-unstyled">
    <li><a href="<%= license %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Lisens<a/></li>
    <li><a href="<%= source %>" class="sidebar-link" target="_eur280"><i class="fa fa-external-link-square"></i> View description at Europeana pages<a/></li>
</ul>

</script>


<script type="text/template" id="europeana280_2_template">
<h3><%= title %></h3>
<h4><%= creator %></h4>


<% if(images) { %>
    <img class="fullwidth img-thumbnail" src="<%= images[0] %>" />
<% } %>

        <h5 style="text-align: center"><%= title %> (<%= year %>)</h5>
        
<!--<p>
    <%= content %>
</p>-->

<table class="sidebar-table">

    <tr>
      <td>Institution</td>
      <td><%= dataProvider %></td>
    </tr>
    <tr>
        <td>Country</td>
        <td><%= country %></td>
    </tr>

</table>

<ul class="list-unstyled">
    <li><a href="<%= license %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Lisens<a/></li>
    <li><a href="<%= source %>" class="sidebar-link" target="_eur280"><i class="fa fa-external-link-square"></i> View description at Europeana pages<a/></li>
</ul>

</script>


<script type="text/template" id="ksamsok_template">
<h3><%= title %></h3>

<% if (image) { %>
    <img class="fullwidth img-thumbnail" src="<%= image %>" />
<% } %>

<% if (itemDescription) { %>
    <p><%= itemDescription %></p>
<% } %>

<ul class="list-unstyled">
    <li><a href="<%= license %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Lisens<a/></li>
    <li><a href="<%= url %>" class="sidebar-link" target="_eur280"><i class="fa fa-external-link-square"></i> View description at K-samsök pages<a/></li>
</ul>

</script>


<script type="text/template" id="historiskeBrev_template">
<h3><%= title %></h3>
<h4>Brev til <span style="text-transform: capitalize"><%= mottaker %></span><% if(date) { %>, <%= date %><% } %></h4>

<% if(image) { %>
    <img class="fullwidth img-thumbnail" src="<%= image %>" />
<% } %>

        <table class="sidebar-table">
            <% if(mottaker) { %>
                <tr>
                    <td>Info om mottaker:</td>
                    <td><%= kortinfo %></td>
                </tr>
            <% } %>            
            <% if(year) { %>
                <tr>
                    <td>Leveår, mottaker:</td>
                    <td><%= year %></td>
                </tr>
            <% } %>
            <% if(sted) { %>
            <tr>
                <td>Sted:</td>
                <td><span style="text-transform: capitalize"><%= sted %></span></td>
            </tr>
            <% } %>            
            <tr>
                <td>Institusjon:</td>
                <td><%= institution %></td>
            </tr>
            
        </table>
        
        <ul class="list-unstyled">
            <li><a href="<%= license %>" class="sidebar-link" target="_lisens"><i class="fa fa-external-link-square"></i> Lisens<a/></li>
            <li><a href="<%= source %>" class="sidebar-link" target="_HIS"><i class="fa fa-external-link-square"></i> Vis brevet på prosjektets hjemmesider<a/></li>
        </ul>        

</script>


<script type="text/template" id="turistveger_template">
<h3><%= title %></h3>

<% if(image) { %>
    <img class="fullwidth img-thumbnail" src="<%= image %>" />
<% } %>

<p>
    <%= content %>
</p>

        <table class="sidebar-table">
            
            <tr>
                <td>Institution</td>
                <td><%= institution %></td>
            </tr>
            
        </table>

        <ul class="list-unstyled">
            <li><a href="<%= license %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Lisens<a/></li>
            <li><a href="<%= source %>" class="sidebar-link" target="_eur280"><i class="fa fa-external-link-square"></i> vis mer informasjon<a/></li>
        </ul>

</script>


<script type="text/template" id="fotografregister_template">
<h3><%= title %></h3>

    <table class="sidebar-table">
        <tr>
            <td>Sted:</td>
            <td><% if(____gate) { %><%= ____gate %>, <% } %><% if(____sted) { %><%= ____sted %><% } %><% if(land) { %> (<%= land %>)<% } %></td>
        </tr>
        <tr>
            <td>Virkeår:</td>
            <td><% if(____fra) { %><%= ____fra %> - <% } %><% if(____til) { %><%= ____til %><% } %></td>
        </tr>        
        <% if(____id) { %>
            <tr>
                <td>Unik ID:</td>
                <td><%= ____id %></td>
            </tr>
        <% } %>            
        
    </table>

<ul class="list-unstyled">
    <li><a href="http://kulturnav.org/<%= ____id %>" class="sidebar-link" target="_kulturNAV"><i class="fa fa-external-link-square"></i> Vis fotografinfo i KulturNAV<a/></li>
</ul>  
      

</script>


<script type="text/template" id="emigrantprotokoller_template">
<h3><%= title %></h3>

    <table class="sidebar-table">
        <tr>
            <td>Navn:</td>
            <td><%= title %></td>
        </tr>
        <% if(foedt) { %>
        <tr>
            <td>Alder/Fødselsdato:</td>
            <td><%= foedt %></td>
        </tr>
        <% } %> 
        <tr>
            <td>Utreisedato:</td>
            <td><%= utreisedato %></td>
        </tr> 
        <tr>
            <td>Avreisehavn:</td>
            <td><%= avreisehavn %></td>
        </tr> 
    </table>

<ul class="list-unstyled">
    <li><a href="http://digitalarkivet.arkivverket.no/<%= da_id %>" class="sidebar-link" target="_DA"><i class="fa fa-external-link-square"></i> Vis person i Digitalarkivet<a/></li>
</ul>  
      

</script>




        <script src="../dist/scripts_external.js" type="text/javascript"></script>
        <script src="../dist/scripts.min.js" type="text/javascript"></script>
        <script type="text/javascript">

            var title = 'Nidelva';
            var image = '';

            (function () {
    'use strict';

    var api = new KR.API({
        flickr: {
            apikey: 'ab1f664476dabf83a289735f97a6d56c'
        }
    });

    var kulturminneFunctions = KR.Config.getKulturminneFunctions(api);

    var datasets = [
        {
            id: 'verneomraader',
            dataset: {
                api: 'cartodb',
                table: 'naturvernomrader_utm33_2',
                columns: ['iid', 'omradenavn', 'vernef_id', 'verneform']
            },
            provider: 'Naturbase',
            name: 'Verneområder',
            template: _.template($('#verneomraader_template').html()),
            getFeatureData: function (feature, callback) {
                api.getItem(
                    {api: 'norvegiana', id: 'kulturnett_Naturbase_' + feature.properties.iid},
                    callback
                );
            },
            toPoint: {
                showAlways: true,
                stopPolyClick: true,
                minSize: 20
            },
            minZoom: 10,
            cluster: false
        },       
        {
            grouped: true,
            name: 'Historie',
            datasets: [
                {
                    name: 'MUSIT',
                    dataset: {
                        api: 'norvegiana',
                        dataset: 'MUSIT'
                    },
                    template: KR.Util.getDatasetTemplate('musit')
                },
                {
                    name: 'DiMu',
                    dataset: {
                        api: 'norvegiana',
                        dataset: 'DiMu'
                    },
                    template: KR.Util.getDatasetTemplate('digitalt_museum')
                },
                {
		            name: 'Riksantikvaren',
		            provider: 'Riksantikvaren',
		            dataset: {
		                api: 'kulturminnedataSparql',
		                kommune: '1601'
		            },
		            template: KR.Util.getDatasetTemplate('ra_sparql'),
                    getFeatureData: kulturminneFunctions.getRaFeatureData,
                    unclusterCount: 20,
                    init: kulturminneFunctions.initKulturminnePoly,
		            bbox: false,
		            style: {fillcolor: '#728224'}
		        }	
        	],
            isStatic: false,
            minZoom: 8
        },
        {
            name: 'Digitalt fortalt',
            dataset: {dataset: 'difo', api: 'norvegiana'},
            cluster: true,
            template: KR.Util.getDatasetTemplate('digitalt_fortalt'),
            noListThreshold: Infinity
        },
        {
            name: 'Trondheim byarkiv',
            dataset_name_override: 'Trondheim byarkiv',
            provider: 'Trondheim byarkiv',
            dataset:  {
                api: 'flickr',
                user_id: 'trondheim_byarkiv'
            },
            template: KR.Util.getDatasetTemplate('flickr'),
            style: {fillcolor: '#D252B9'}
        },
        {
            name: 'Wikipedia',
            provider: 'Wikipedia',
            dataset: {
                api: 'wikipedia'
            },
            style: {thumbnail: true},
            minZoom: 13,
            template: KR.Util.getDatasetTemplate('wikipedia')
        },
        {
            name: 'Lokalhistoriewiki',
            provider: 'Lokalhistoriewiki',
            dataset: {
                api: 'lokalhistoriewiki'
            },
            style: {thumbnail: true},
            minZoom: 13
        }
    ];

	var layer = L.tileLayer('https://{s}.tiles.mapbox.com/v4/havardgj.9013e600/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiaGF2YXJkZ2oiLCJhIjoiQTlGM3A3NCJ9.fDQKmxi1WcYfBUWm0cQrGg');

    KR.setupMap(api, datasets, {
        title: title,
        image: 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/TrondheimNidelva-improved.jpg/640px-TrondheimNidelva-improved.jpg',
        description: $('#description_template').html(),
        /*line: 'http://www.knreise.no/miniProxy/miniProxy.php/http://knreise.no/demonstratorer/demonstratorer/nidelva.kml',*/
        line: 'http://knreise.no/data/nidelva.kml',
        buffer: 0.5,
        layer: layer,
        maxZoom: 18,
        minZoom: 12
    });

    
}());

        </script>
    </body>
</html>
