<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>KNReise - Trondheim</title>


        <link href='../bower_components/components-font-awesome/css/font-awesome.min.css' rel='stylesheet' />
        <link href='../bower_components/leaflet/dist/leaflet.css' rel='stylesheet' />
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../bower_components/leaflet-sidebar/src/L.Control.Sidebar.css' rel='stylesheet' />
        <link href='../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' rel='stylesheet' />
        <link href='../bower_components/leaflet.markercluster/dist/MarkerCluster.css' rel='stylesheet' />
        <link href='../bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css' rel='stylesheet' />
        <link href='../bower_components/Leaflet.Photo/Leaflet.Photo.css' rel='stylesheet' />
        <link href='../bower_components/video.js/dist/video-js/video-js.css' rel='stylesheet' />
        <link href='../bower_components/cilogi-marker/dist/cilogi-marker.css' rel='stylesheet' />
        <link href='../dist/style.css' rel='stylesheet' />
        
        <meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="">

    </head>
    <body>

<div id="sidebar"></div>
<div id="map"></div>



<script type="text/template" id="description_template">

</script>



<script type="text/template" id="list_item_template">
<a href="#" class="list-group-item">
    <div class="media">
        <div class="media-left media-middle">
            <%= marker %>
        </div>
        <div class="media-body">
            <%= title %>
        </div>
    </div>
</a>
</script>


<script type="text/template" id="marker_template">
<div class="awesome-marker awesome-marker-icon-<%= color %>" style="width: 35px; height: 45px;">
    <i class="fa fa-<%= icon %> icon-white"></i>
</div>
</script>


<script type="text/template" id="thumbnail_template">
<img src="http://egbtmre.cloudimg.io/s/crop/50x50/<%= thumbnail %>" width="50" height="50" class="thumbnail" style="border-color: <%= color %>"/>
</script>


<script type="text/template" id="footer_template">
<ul class="list-unstyled">
<% if (license) { %>
    <li><a href="<%= license %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Lisens<a/></li>
<% } %>
    <li><a href="<%= link %>" class="sidebar-link"><i class="fa fa-external-link-square"></i> Vis hos <%= provider %><a/></li>
</ul>
</script>


<script type="text/template" id="error_template">
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Feil!</strong> <span class="content"></span>
</div>
</script>


<script type="text/template" id="message_template">
<div class="alert alert-dismissible" role="alert">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="content"></div>
</div>
</script>


<script type="text/template" id="response_form_template">

<div class="feedback-form">
  <p class="show-more"><i class="fa fa-envelope-o"></i> Tilbakemelding</p>
  <form class="hidden">
    <h4>Tilbakemelding</h4>
    <div class="form-group">
      <label for="form_email">Har du spørsmål eller kommentarer til denne informasjonen eller ønsker du å 
        si fra om feil eller mangler, så kan du gjøre det her:</label>
      <textarea id="form_message" class="form-control" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="form_email">Din epost:</label>
      <input type="email" class="form-control" id="form_email">
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>
  <div id="form-success" class="media hidden">
      <button class="close pull-right" aria-label="Close" data-dismiss="alert" type="button">
        <span aria-hidden="true">×</span>
      </button>
      <div class="media-left">
        <i class="fa fa-check-circle fa-3x"></i>
      </div>
      <div class="media-body">
      </div>
  </div>
</div>
</script>


<script type="text/template" id="splashscreen_template">
<h2><%= title %></h2>
<% if (image) { %> 
<img class="splash-image" src="<%= image %>">
<% } %>
<div class="splash-content">
    <% if (description) { %> 
    <div><%= description %></div>
    <% } %>
    <% if (creator) { %> 

        <table class="sidebar-table">
            <tr>
              <td>Laget av</td>
              <td><%= creator %></td>
            </tr>
        </table>

    <% } %>

    <label>
        <input id="persist_splash_cb" type="checkbox"> Ikke vis ved oppstart.
    </label>
</div>
</script>

<script type="text/template" id="verneomraader_template">
<h3><%= title %></h3>

<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<p><%= content %></p>

<table class="sidebar-table">
    <tr>
      <td>Verneform</td>
      <td><%= verneform %></td>
    </tr>
</table>

</script>


<script type="text/template" id="kulturminne_template">
<h3><%= title %></h3>

<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<table class="sidebar-table">
    <tr>
      <td>Type kulturminne</td>
      <td>??</td>
    </tr>
    <tr>
      <td>Kategori</td>
      <td><%= allProps.dc_subject[1] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Art</td>
      <td><%= allProps.dc_subject[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Vernestetus</td>
      <td><%= allProps.dc_subject[2] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Datering</td>
      <td><%= allProps.dc_date[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Registrerte funn</td>
      <td>??</td>
    </tr>
    <tr>
      <td>Synlig</td>
      <td>??</td>
    </tr>
</table>
</script>


<script type="text/template" id="kulturminne2_template">
<h3>Kulturminne</h3>

<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<dl>
    <dt>Navn</dt>
    <dd><%= LokalitetNavn %></dd>

    <dt>Kategori</dt>
    <dd><%= Kategori %></dd>

    <dt>Vernestatus</dt>
    <dd><%= Vernestatus %></dd>

    <dt>Beskrivelse</dt>
    <dd><%= Beskrivelse %></dd>

</dl>
</script>


<script type="text/template" id="musit_template">
<h3><%= allProps.dc_title %></h3>

<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>

<p><%= allProps.dc_description %></p>

<table class="sidebar-table">
    <tr>
      <td>Samling</td>
      <td><%= allProps.europeana_dataProvider[0] %></td>
    </tr>

    <% if (allProps.dc_date) { %>
    <tr>
      <td>Datering</td>
      <td><%= allProps.dc_date[0] %></td>
    </tr>
    <% } %>

    <% if (allProps.dc_creator) { %>
    <tr>
      <td>Opphavsperson</td>
      <td><%= allProps.dc_creator[0] || 'n/a' %></td>
    </tr>
    <% } %>
</table>

</script>


<script type="text/template" id="digitalt_museum_template">
<h3><%= title %></h3>


<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>

<p><%= allProps.dc_description %></p>

<table class="sidebar-table">

    <tr>
      <td>Samling</td>
      <td><%= allProps.europeana_dataProvider[0] || 'n/a' %></td>
    </tr>

    <% if (allProps.abm_address) { %>
    <tr>
      <td>Adresse</td>
      <td><%= allProps.abm_address[0] %></td>
    </tr>
    <% } %>

    <% if (allProps.dc_creator){ %>
    <tr>
      <td>Opphavsperson</td>
      <td><%= allProps.dc_creator[0] %></td>
    </tr>
    <% } %>

    <% if (allProps.dc_subject) { %>
    <tr>
      <td>Emneord</td>
      <td><%= allProps.dc_subject.join(', ')%></td>
    </tr>
    <% } %>

</table>

</script>


<script type="text/template" id="digitalt_fortalt_template">
<h3><%= title %></h3>


<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<% if(contentType === 'VIDEO' && video) { %>
    <% if (video.indexOf('mp4') !== -1) { %>
        <video class="video-js vjs-default-skin fullwidth" controls
         preload="auto" height="315" <% if(images) { %>poster="<%= images[0] %>" <% } %>
         data-setup='{}'>
          <source src="<%= videoEmbed %>" type='video/mp4'>
        </video>
    <% } else { %>
        <iframe class="fullwidth" height="315" src="<%= videoEmbed %>" frameborder="0" allowfullscreen></iframe>
    <% } %>
    
<% } else if(contentType === 'SOUND' && sound) { %>
    <audio src="<%= sound %>" preload="auto"></audio>
<% } else if(contentType === 'IMAGE' && images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>

<p><%= allProps.abm_introduction %></p>

<p><%= allProps.dc_description %></p>

<table class="sidebar-table">

    <tr>
      <td>Samling</td>
      <td><%= allProps.europeana_dataProvider[0] || 'n/a' %></td>
    </tr>
    <tr>
      <td>Opphavsperson</td>
      <td><%= allProps.dc_creator[0] || 'n/a' %></td>
    </tr>
</table>


</script>


<script type="text/template" id="folketelling_template">
<% if (property.id.indexOf('g') === 0) { %> 
    <h3><%= property.gatenavn_og_nummer_i_gata %></h3>

    <% if (distanceBearing) { %>
    <div class="distance">
        <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
        <%= distanceBearing.dist %>
    </div>
    <% } %>

    <p><%= property.bildelenke %></p>

    <table class="sidebar-table">
        <tr>
          <td>Hjemmehørende</td>
          <td><%= property.antall_hjemmehorende_personer || 0 %> personer</td>
        </tr>
        <tr>
          <td>Etasjer</td>
          <td><%= property.antall_etasjer %></td>
        </tr>
    </table>

    <% if(apartments) { %> 
        <% _.each(apartments.sort(function (a) {return parseInt(a.leilighetsnummer, 10)}), function (apartment) { %>
            <table class="sidebar-table">
                <tr colspan="2">
                  <td><h4>Leilighet <%= apartment.leilighetsnummer %></h4></td>
                </tr>
                <tr>
                  <td>Plassering</td>
                  <td><%= apartment.bekvemmelighetens_beliggenhet %></td>
                </tr>
                <tr>
                  <td>Etasje</td>
                  <td><%= apartment.etasje %></td>
                </tr>
                <tr>
                  <td>Husleie</td>
                  <td><%= apartment.husleie %></td>
                </tr>
                <tr>
                  <td>Beboere</td>
                  <td><%= KR.Util.formatPersons(apartment.antall_hjemmehorende_personer) %></td>
                </tr>
                <tr colspan="2">
                  <td>
                    <a class="sidebar-link" href="http://digitalarkivet.arkivverket.no/ft/leilighet/<%= apartment.id %>" target="_blank">
                      <i class="fa fa-external-link-square"></i> Vis hos Digitalarkivet
                    </a>
                  </td>
                </tr>
            </table>
        <% }) %>
    </ul>

<% } %>

<% } else { %> 

    <h3><%= property.bostedets_navn %></h3>

    
    <% if (distanceBearing) { %>
    <div class="distance">
        <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
        <%= distanceBearing.dist %>
    </div>
    <% } %>

    <% _.each(residents, function (resident) { %>
      <table class="sidebar-table">
          <tr colspan="2">
            <td><h4><%= resident.fornavn %> <%= resident.patronymikon %> <%= resident.slektsnavn %></h4></td>
          </tr>
          <tr>
            <td>Født</td>
            <td><%= resident.fodselsaar %></td>
          </tr>
          <tr>
            <td>Fødested</td>
            <td><%= resident.fodested %></td>
          </tr>
          <tr>
            <td>Yrke</td>
            <td><%= resident.yrke %></td>
          </tr>
      </table>
    <% }) %>
    <a class="sidebar-link" href="http://digitalarkivet.arkivverket.no/ft/bosted_land/<%= property.id %>" target="_blank">
      <i class="fa fa-external-link-square"></i> Vis hos Digitalarkivet
    </a>
    

<% } %>

</script>


<script type="text/template" id="wikipedia_template">
<h3><%= title %></h3>

<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>

<div class="wikipedia-content">
    <%= content %>
</div>

</script>


<script type="text/template" id="ra_sparql_template">
<h3><%= name %></h3>

<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<% if (img) { %>
<img class="fullwidth" src="<%= img %>" />
<% } %>

<p><%= description %></p>

<table class="sidebar-table">
    <tr>
      <td>Type</td>
      <td><%= loccatlabel %></td>
    </tr>
</table>

</script>


<script type="text/template" id="fangstgrop_template">
<h3>Fangstgrop</h3>


<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>
</script>


<script type="text/template" id="flickr_template">
<h3><%= title %></h3>


<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<img class="fullwidth" src="<%= image %>" />

</script>


<script type="text/template" id="husmann_template">
<h3>Kulturminne</h3>


<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<dl>
    <dt>Navn</dt>
    <dd><%= Navn %></dd>
</dl>
</script>


<script type="text/template" id="brukerminne_template">
<h3><%= title %></h3>


<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<% if(!_.isUndefined(arguments[0].KortBeskrivelse)) { %>
<p><%= KortBeskrivelse %></p>
<% } %>

<p><%= Beskrivelse %></p>

<table class="sidebar-table">
    <tr>
      <td>Datering</td>
      <td><%= Datering %></td>
    </tr>
    <tr>
      <td>Opprinnelig funksjon</td>
      <td><%= OpprinneligFunksjon %></td>
    </tr>
    <% if(!_.isUndefined(arguments[0].NåværendeFunksjon)) { %>
    <tr>
      <td>Nåværende funksjon</td>
      <td><%= NåværendeFunksjon %></td>
    </tr>
    <% } %>
    <% if(!_.isUndefined(arguments[0].Kilder)) { %>
    <tr>
      <td>Kilder</td>
      <td><%= Kilder %></td>
    </tr>
    <% } %>
</table>
</script>


<script type="text/template" id="popup_template">
<h3><%= title %></h3>

<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>
<p><%= content %></p>

</script>


<script type="text/template" id="jernbanemuseet_template">
<h3><%= title %></h3>


<% if (distanceBearing) { %>
<div class="distance">
    <i class="fa fa-location-arrow" style="transform: rotate(<%= distanceBearing.rot %>deg);"></i> 
    <%= distanceBearing.dist %>
</div>
<% } %>

<% if(images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>
<p><%= description %></p>

<% _.each(pages, function (page) { %>
    <h4><%= page.title %></h4>
    <% _.each(page.blocks, function (block) { %>
        <% if (block.type === 'text') { %>
            <%= block.text %>
        <% } else if (block.type === 'image_video') { %>
            <% _.each(block.media, function (media) { %>
                <% if (media.type === 'image') { %>
                    <img class="fullwidth" src="<%= media.url %>" />
                <% } else if (media.type === 'video') { %>
                    <video class="video-js vjs-default-skin fullwidth" controls preload="auto" height="315" data-setup='{}'>
                        <source src="<%= media.url %>" type='video/mp4'>
                    </video>
                <% } %>
                <p>
                    <strong><%= media.title %></strong><br/>
                    <em><%= media.description %></em>
                </p>
            <% }) %>
        <% } %>
    <% }) %>
<% }) %>

</script>


<script type="text/template" id="foto_sf_template">
<h3><%= title %></h3>
<% if(allProps.europeana_isShownBy) { %>
    <img class="fullwidth" src="<%= allProps.europeana_isShownBy[0] %>" />
<% } %>
<p><%= content %></p>

</script>




        <script src="../bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="../bower_components/underscore/underscore-min.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
        <script src="../bower_components/esri2geo/esri2geo.js" type="text/javascript"></script>
        <script src="../bower_components/KNreiseAPI/dist/KNreiseAPI.min.js" type="text/javascript"></script>
        <script src="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet-sidebar/src/L.Control.Sidebar.js" type="text/javascript"></script>
        <script src="../bower_components/leaflet.markercluster/dist/leaflet.markercluster.js" type="text/javascript"></script>
        <script src="../bower_components/turf/turf.min.js" type="text/javascript"></script>
        <script src="../bower_components/togeojson/togeojson.js" type="text/javascript"></script>
        <script src="../bower_components/wellknown/wellknown.js" type="text/javascript"></script>
        <script src="../bower_components/proj4/dist/proj4.js" type="text/javascript"></script>
        <script src="../bower_components/CryptoJS/build/components/core.js" type="text/javascript"></script>
        <script src="../bower_components/CryptoJS/build/components/md5.js" type="text/javascript"></script>
        <script src="../bower_components/audiojs/audiojs/audio.min.js" type="text/javascript"></script>
        <script src="../bower_components/video.js/dist/video-js/video.js" type="text/javascript"></script>
        <script src="../bower_components/jquery-touchswipe/jquery.touchSwipe.js" type="text/javascript"></script>
        <script src="../bower_components/L.TileLayer.Kartverket/dist/L.TileLayer.Kartverket.min.js" type="text/javascript"></script>
        <script src="../bower_components/L.EasyButton/easy-button.js" type="text/javascript"></script>
        <script src="../bower_components/cilogi-marker/dist/cilogi-marker.min.js" type="text/javascript"></script>
        <script src="../dist/scripts.min.js" type="text/javascript"></script>
        <script type="text/javascript">

            var title = 'Trondheim';
            var image = '';

            (function () {
    'use strict';

    //The datasets in use
    var datasets = [
        {
            thumbnails: true,
            name: 'Digitalt fortalt',
            dataset: {dataset: 'difo', api: 'norvegiana'},
            template: KR.Util.getDatasetTemplate('digitalt_fortalt')
        },
        {
            name: 'Kulturminner',
            dataset_name_override: 'Kulturminnesok',
            dataset: {
                api: 'norvegiana',
                dataset: 'Kulturminnesok',
                query: '-delving_title:Fangstlokalitet'
            },
            template: KR.Util.getDatasetTemplate('kulturminne'),
            smallMarker: true
        },
        {
            name: 'Wikipedia',
            provider: 'Wikipedia',
            dataset: {
                api: 'wikipedia'
            },
            template: KR.Util.getDatasetTemplate('wikipedia'),
            style: {template: true},
            minZoom: 13
        },
        {
            name: 'Trondheim byarkiv',
            dataset_name_override: 'Trondheim byarkiv',
            provider: 'Trondheim byarkiv',
            dataset:  {
                api: 'flickr',
                user_id: 'trondheim_byarkiv'
            },
            template: KR.Util.getDatasetTemplate('flickr'),
            style: {fillcolor: '#D252B9'}
        },
        {
            name: 'Riksantikvaren',
            provider: 'Riksantikvaren',
            dataset: {
                api: 'kulturminnedataSparql',
                kommune: '1601'
            },
            template: KR.Util.getDatasetTemplate('ra_sparql'),
            bbox: false,
            style: {fillcolor: '#728224'}
        },
        {
            name: 'MUSIT',
            dataset: {
                api: 'norvegiana',
                dataset: 'MUSIT'
            },
            template: KR.Util.getDatasetTemplate('musit'),
            minZoom: 12,
            style: {thumbnail: true}
        },
        {
            name: 'DiMu',
            dataset: {
                api: 'norvegiana',
                dataset: 'DiMu'
            },
            template: KR.Util.getDatasetTemplate('digitalt_museum'),
            minZoom: 12,
            style: {thumbnail: true}
        }
    ];

    //set up an instance of the Norvegiana API
    var api = new KR.API({
        flickr: {
            apikey: 'ab1f664476dabf83a289735f97a6d56c'
        }
    });


    var bbox = '10.338650,63.408816,10.555458,63.462016';
    KR.setupMap(api, datasets, {
        bbox: bbox,
        title: title,
        image: image,
        description: $('#description_template').html()
    });
}());
        </script>
    </body>
</html>
