<div id="map"></div>
<div id="strip" class="">
    <div class="arrow left js-left"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></div>
    <div class="strip-container"></div>
    <div class="arrow right js-right">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </div>
    <button type="button" class="close js-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<script type="text/template" id="panel_template">
    <div class="panel panel-default panel-horizontal" style="border: 2px solid <%= color %>">
        <div class="panel-heading">
            <span class="header-text" title="<%= title %>"><%= title %></span>
            <span class="header-box">
                <div><i class="fa fa-<%= icon %> fa-lg"></i></div>
                <% if (distance) { %><div><%=distance %> km</div><% } %>
            </span>
        </div>
        <% if (!minimal) { %>
        <div class="panel-body">
        <% if (thumbnail) { %>
            <div class="image" style="background-image: url(<%= thumbnail %>);"></div>
        <%} else if (contentType === 'TEXT') { %>
            <div class="text-box">
                <p><% print(content ? content : 'Ingen tekst') %></p>
                <p class="text-fade"></p>
            </div>
        <%} else { %>
            n/a
        <% } %>
      </div>
      <% } %>
    </div>
</script>

<script type="text/template" id="spinner_template">
    <div class="spinner">
    <i class="fa fa-cog fa-spin fa-<%= size %>"></i>
    </div>
</script>