<h1>Demonstratorgenerator</h1>
<form autocomplete="off">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Link</h3>
            <div class="map-link"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Tittel</h3>
            <input id="title" type="text" class="form-control" placeholder="Navn på demonstrator">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" id="municipality_container">
        </div>
        <div class="col-md-2" id="line_container">
        </div>
        <div class="col-md-2" id="bbox_container">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Datasett</h3>
            <div class="row">
                <div class="col-md-6">
                    <h4>Tilgengelige</h4>
                    <ul id="datasets-available" class="droplist list-group connected sortable list"></ul>
                </div>
                <div class="col-md-6">
                    <h4>Valgte</h4>
                    <ul id="datasets-selected" class="droplist  list-group connected sortable list"></ul>
                </div>
            </div>
            
        </div>
        <div class="col-md-2">
            <h3>Bakgrunnskart</h3>
            <select id="layers" class="form-control"></select>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Link</h3>
            <div class="map-link"></div>
        </div>
    </div>
</div>
</form>

<script type="text/template" id="municipality_template">
    <h3>Kommune</h3>
    <select id="komm" class="form-control">
    <% _.each(municipalities, function (municipality) { %>
        <option value="<%= municipality.komm %>"><%= municipality.navn %></option>
    <% }) %>
    </select>
</script>

<script type="text/template" id="line_template">
     <h3>Linje</h3>
    <input id="line" type="text" class="form-control" placeholder="Linje">
    <span id="helpBlock" class="help-block">For linjer fra ut.no: bruk formen utno/id</span>
    <h5>Buffer (km)</h5>
    <input id="buffer" type="number" class="form-control" value="2">
    <h5>Linjefarge (hex)</h5>
    <input id="linecolor" type="text" class="form-control" value="#0033ff">
</script>

<script type="text/template" id="bbox_template">
    <h3>BBox</h3>
    <input id="bbox" type="text" class="form-control" value="3.779297,57.751076,31.464844,71.357067">
</script>