<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../bower_components/leaflet/dist/leaflet.css" rel="stylesheet"/>
        <link href='../../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        
        <link href='../../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' rel='stylesheet' />

        <link href='../../bower_components/leaflet-sidebar/src/L.Control.Sidebar.css' rel='stylesheet' />

        <link href='../../bower_components/leaflet.markercluster/dist/MarkerCluster.css' rel='stylesheet' />
        <link href='../../bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css' rel='stylesheet' />
        <link href='../../bower_components/Leaflet.Photo/Leaflet.Photo.css' rel='stylesheet' />

        <link href='../../bower_components/video.js/dist/video-js/video-js.css' rel='stylesheet' />

        <link href='../../common/css/fullscreenmap.css' rel='stylesheet' />
        <link href='../../common/css/markers.css' rel='stylesheet' />
        <!--
        <link href='../common/css/L.Control.DatasetChooser.css' rel='stylesheet' />
        -->
        <link href='../../common/css/L.Control.NorvegianaSidebar.css' rel='stylesheet' />
        <link href='../../common/css/L.Control.Datasets.css' rel='stylesheet' />

        <style type="text/css">

            .audiojs {
                height: 22px;
                width:400px;
            }
            .audiojs .play-pause { width: 30px; height: 20px; padding: 0px 8px 0px 0px; }
            .audiojs p { width: 25px; height: 20px; margin: -3px 0px 0px -1px; }
            .audiojs .scrubber { height:10px; width:230px; margin:5px; }
            .audiojs .progress { height: 10px; width: 0px; }
            .audiojs .loaded { height: 10px; }
            .audiojs .time { float: left; height: 25px; line-height: 25px; }
        </style>

    </head>
    <body>
        <div id="sidebar"></div>
        <div id="map"></div>

        <!-- templates -->
        
        <script type="text/template" id="popup_template">
            <h3><%= title %></h3>
            <p><%= dataset %></p>
            <% if (image) { %>
            <a href="<%= link %>">
                <img width="400" src="<%= image %>" />
            </a>
            <% }%>
            <p><%= content %></p>
            <a href="<%= link %>">Mer info</a>
        </script>

        <script type="text/template" id="digitalt_fortalt_template">
            <h3><%= title %></h3>
            <% if(contentType === 'VIDEO' && video) { %>
                <% if (video.indexOf('mp4') !== -1) { %>
                    <video id="really-cool-video" class="video-js vjs-default-skin" controls
                     preload="auto" width="400" height="315" poster="<%= images[0] %>"
                     data-setup='{}'>
                      <source src="<%= videoEmbed %>" type='video/mp4'>
                    </video>
                <% } else { %>
                    <iframe width="400" height="315" src="<%= videoEmbed %>" frameborder="0" allowfullscreen></iframe>
                <% } %>
                
            <% } else if(contentType === 'SOUND' && sound) { %>
                <audio src="<%= sound %>" preload="auto"></audio>
            <% } else if(contentType === 'IMAGE' && images) { %>
                <img width="400" src="<%= images[0] %>" />
            <% } %>
            <%= content %>

            <a href="<%= link %>">Mer hos <%= provider %><a/>

        </script>

        <script type="text/template" id="list_item_template">
            <a href="#" class="list-group-item">
                <i class="fa fa-<%= icon %> fa-fw"></i>&nbsp;
                <%= title %>
            </a>
        </script>

        <!-- end templates -->

        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../bower_components/underscore/underscore-min.js"></script>
        <script src="../../bower_components/leaflet/dist/leaflet.js"></script>
        
        <script src="../../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>

        <script src="../../bower_components/leaflet-sidebar/src/L.Control.Sidebar.js"></script>

        <script src="../../bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

        <script src="../../bower_components/CryptoJS/build/components/core.js"></script>
        <script src="../../bower_components/CryptoJS/build/components/md5.js"></script>

        <script src="../../bower_components/audiojs/audiojs/audio.min.js"></script>
        <script src="../../bower_components/video.js/dist/video-js/video.js"></script>
        

        <script src="../../common/js/L.TileLayer.Kartverket.js"></script>
<!--
        <script src="../../common/js/L.Control.DatasetChooser.js"></script>
        <script src="../../common/js/L.Control.MapClick.js"></script>
-->
        <script src="../../common/js/L.NorvegianaGeoJSON.js"></script>

        <script src="../../common/js/L.Control.NorvegianaSidebar.js"></script>
        <script src="../../common/js/L.Control.Datasets.js"></script>
        


        <script src="../../common/js/util.js"></script>
        <script src="../../common/js/wikipedia.js"></script>
        <script src="../../common/js/norvegiana.js"></script>
        <script src="../../common/js/cartodb.js"></script>
        <script src="../../common/js/api.js"></script>
        <script type="text/javascript">

            (function () {
                'use strict';

                //template used for sidebar

                var popupTemplate = _.template($('#popup_template').html());
                var listElementTemplate = _.template($('#list_item_template').html());

                //create the map
                var map = L.map('map');

                //add a background layer from kartverket
                L.tileLayer.kartverket('norges_grunnkart_graatone').addTo(map);

                //set up an instance of the Norvegiana API
                var api = new KR.API({
                    cartodb: {
                        apikey: 'e6b96c1e6a71b8b2c6f8dbb611c08da5842f5ff5',
                        user: 'knreise'
                    }
                });

                //the sidebar, used for displaying information
                var sidebar = L.control.norvegianaSidebar('sidebar', {
                    position: 'left',
                    template: popupTemplate,
                    listElementTemplate: listElementTemplate
                });
                map.addControl(sidebar);


                var datasets = [
                    {
                        name: 'Pilegrimsleden',
                        api: 'cartodb',
                        table: 'pilegrimsleden_dovre',
                        mapper: KR.API.mappers.pilegrimsleden_dovre,
                        style: function (feature) {
                            return {color: '#7570b3', clickable: false, opacity: 1, weight: 3};
                        },
                        isStatic: true,
                        bbox: false,
                        cluster: false
                    },
                    {
                        name: 'Digitalt fortalt',
                        api: 'norvegiana',
                        dataset: 'difo',
                        bbox: true,
                        isStatic: true,
                        cluster: true,
                        template: _.template($('#digitalt_fortalt_template').html())
                        //minZoom: 14,
                        //smallMarker: true
                    },
                    {
                        name: 'Kulturminner',
                        api: 'norvegiana',
                        dataset: 'Kulturminnesok',
                        bbox: true,
                        isStatic: true,
                        cluster: true,
                        //minZoom: 14,
                        smallMarker: true
                    },
                    {
                        name: 'Naturbase',
                        api: 'norvegiana',
                        dataset: 'Naturbase',
                        bbox: true,
                        thumbnails: false,
                        cluster: false,
                        isStatic: true,
                        //minZoom: 14,
                        smallMarker: true
                    },
                    {
                        name: 'Artsobservasjoner',
                        api: 'norvegiana',
                        dataset: 'Artsdatabanken',
                        bbox: true,
                        cluster: true,
                        minZoom: 14,
                        smallMarker: true
                    }
                ];

                function addBboxDataset(api, map, dataset, sidebar) {
                    var layer = L.norvegianaGeoJSON(null, sidebar, dataset)
                        .addTo(map);
                    layer.visible = true;

                    function reloadData () {
                        var bounds = map.getBounds().toBBoxString();
                        if (dataset.minZoom) {
                            if (map.getZoom() >= dataset.minZoom && layer.visible) {
                                api.getBbox(dataset, bounds, function (geoJson) {
                                    layer.addGeoJSON(geoJson);
                                });
                            } else {
                                layer.resetGeoJSON();
                            }
                        } else {
                            if (layer.visible) {
                                api.getBbox(dataset, bounds, function (geoJson) {
                                    layer.addGeoJSON(geoJson);
                                });
                            } else {
                                layer.resetGeoJSON();
                            }
                        }
                    }

                    layer.on('setVisible', reloadData);
                    if (!dataset.isStatic) {
                        map.on('moveend', reloadData);
                    }
                    reloadData();
                    return layer;
                }

                function addFullDataset(api, map, dataset, sidebar) {
                    var layer = L.norvegianaGeoJSON(null, sidebar, dataset)
                        .addTo(map);
                    api.getData(dataset, function (geoJson) {
                        layer.addGeoJSON(geoJson);
                    });
                    return layer;
                }


                //get the are we are interested in
                var dovre = 511;
                api.getMunicipalityBounds(dovre, function (bbox) {
                    var bounds = L.latLngBounds.fromBBoxString(bbox);
                    map.setMaxBounds(bounds);
                    map.fitBounds(bounds);
                    var layers = _.map(datasets, function (dataset) {
                        if (dataset.bbox) {
                            return addBboxDataset(api, map, dataset, sidebar);
                        } else {
                            return addFullDataset(api, map, dataset, sidebar);
                        }
                    });

                    L.control.datasets(layers).addTo(map);
                });
            }());
        </script>
    </body>
</html>
