.map {
    width: 100%;
    height: 300px;
    position: inherited;
    display: table-cell;
}

.generatorfooter{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
