<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' rel='stylesheet' />
        <style type="text/css">
        .awesome-marker {
            position: relative;
            display: inline-block;
        }
        </style>
    </head>
    <body>
        <div id="style"></div>


        <script type="text/template" id="marker_template">
            <div class="awesome-marker-icon-<%= color %> awesome-marker" style="width: 35px; height: 45px;">
                <i class="fa fa-<%= icon %> icon-white"></i>
            </div>
        </script>


        <script type="text/template" id="list_template">
            <h2><%= name %></h2>
            <ul>
            <%= list %>
            </ul>
        </script>

        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/underscore/underscore-min.js"></script>
        <script src="../common/js/util.js"></script>
        <script type="text/javascript">

        var lists = [];
        var listTemplate = _.template($('#list_template').html());

        var iconList = _.map(KR.Config.datasetIcons, function (icon, dataset) {
            return '<li>' + dataset + ': <i class="fa fa-' + icon + '"></i></li>';
        }).join('');
        lists.push(listTemplate({list: iconList, name: 'Ikoner for datasett'}));


        var contentList = _.map(KR.Config.contentIcons, function (icon, contentType) {
            return '<li>' + contentType + ': <i class="fa fa-' + icon + '"></i></li>';
        }).join('');
        lists.push(listTemplate({list: contentList, name: 'Ikoner for mediatype'}));

        var markerTemplate = _.template($('#marker_template').html());
        var markers = _.map(KR.Config.providerColors, function (color, provider) {
            return '<li>' + provider + ': ' + markerTemplate({icon: 'file-text', color: color.name}) +  '</li>';
        }).join('');
        lists.push(listTemplate({list: markers, name: 'Markers for datasett'}));

        $('#style').append(lists);


        </script>

    </body>
</html>