#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.alert {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    z-index: 3000;
}


.active .leaflet-bar-part {
    background-color: #ddd !important;
}