.leaflet-marker-favicon .outer {
    position: relative;
}

.leaflet-marker-favicon .outer i {
    position: absolute;
    top: 0;
    left: 0;
}

.leaflet-marker-favicon .outer i.rot1 {
    position: absolute;
    top: -2px;
    left: -2px;
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.leaflet-marker-favicon .outer i.rot2 {
    position: absolute;
    top: 2px;
    left: 2px;
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.leaflet-marker-circle .outer {
    position: relative;
}
.leaflet-marker-circle div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

}

.leaflet-marker-circle b, .leaflet-marker-photo b {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    box-sizing: initial;
    color: #555;
    font-size: 8px;
    height: 8px;
    line-height: 8px;
    min-width: 8px;
    padding: 3px;
    position: absolute;
    text-align: center;
    right: -7px;
    top: -7px;
}

.leaflet-marker-photo b {
    right: 2px;
    top: 2px;
}

.circle {
    border-radius: 50%;
    border: 2px solid white;
}
