<h3><%= title %></h3>
<% if(contentType === 'VIDEO' && video) { %>
    <% if (video.indexOf('mp4') !== -1) { %>
        <video class="video-js vjs-default-skin fullwidth" controls
         preload="auto" height="315" poster="<%= images[0] %>"
         data-setup='{}'>
          <source src="<%= videoEmbed %>" type='video/mp4'>
        </video>
    <% } else { %>
        <iframe class="fullwidth" height="315" src="<%= videoEmbed %>" frameborder="0" allowfullscreen></iframe>
    <% } %>
    
<% } else if(contentType === 'SOUND' && sound) { %>
    <audio src="<%= sound %>" preload="auto"></audio>
<% } else if(contentType === 'IMAGE' && images) { %>
    <img class="fullwidth" src="<%= images[0] %>" />
<% } %>
<%= content %>

<a href="<%= link %>">Mer hos <%= provider %><a/>