<ul class="list-unstyled">
<% if (license) { %>
    <li><span onclick="window.open('<%= license %>', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');" class="sidebar-link" style="cursor: pointer;"><i class="fa fa-external-link-square"></i> Lisens</span></li>
<% } %>
    <li><span onclick="window.open('<%= link %>', '_blank', 'location=yes,scrollbars=yes,status=yes');" class="sidebar-link" style="cursor: pointer;"><i class="fa fa-external-link-square"></i> Vis hos <%= provider %><a/></li>
</ul>