<h3>Kulturminne</h3>
<dl>
    <dt>Navn</dt>
    <dd><%= title %></dd>

    <dt>Kategori</dt>
    <dd><%= allProps.dc_subject[1] %></dd>

    <dt>Type kulturminne</dt>
    <dd><%= allProps.dc_subject[0] %></dd>

    <dt>Vernestatus</dt>
    <dd><%= allProps.dc_subject[2] %></dd>

    <dt>Datering</dt>
    <dd><%= allProps.dc_date %></dd>

    <dt>Mer informasjon</dt>
    <dd><a href="<%= link %>" target="_blank">kulturminnesok.no</a></dd>
</dl>