<a href="#" class="list-group-item">
    <div class="media">
        <div class="media-left media-middle">
            <%= marker %>
        </div>
        <div class="media-body">
            <h6><%= title %></h6>
        </div>
    </div>
</a>