<h3><%= title %></h3>
<p><%= dataset %></p>
<% if (image) { %>
<a href="<%= link %>">
    <img class="fullwidth" src="<%= image %>" />
</a>
<% }%>
<p><%= content %></p>
<a href="<%= link %>">Mer info</a>