<h2><%= title %></h2>
<% if (image) { %> 
<img class="splash-image" src="<%= image %>">
<% } %>
<div class="splash-content">
    <% if (description) { %> 
    <div><%= description %></div>
    <% } %>
    <% if (creator) { %> 

        <table class="sidebar-table">
            <tr>
              <td>Laget av</td>
              <td><%= creator %></td>
            </tr>
        </table>

    <% } %>
    
    <div class="footer small">
    	<p>Dette kartet er basert på åpne data og en løsning utviklet i regi av <a href="http://kulturognaturreise.no">Kultur- og naturreise</a>. Se også <a href="http://knreise.no/demonstratorer">andre kart og informasjon om selve løsningen</a>. All koden er fritt tilgjengelig på <a href="https://github.com/knreise/demonstratorer">GitHub</a>.</p>
		<p>
        	<input id="persist_splash_cb" type="checkbox"> Ikke vis ved oppstart
		</p>
	</div>
    
</div>