<img src="http://egbtmre.cloudimg.io/s/crop/80x60/<%= thumbnail %>" srcset="http://egbtmre.cloudimg.io/s/crop/160x120/<%= thumbnail %> 2x" width="80" height="60" class="thumbnail" style="border-color: <%= color %>"/>