<h3>Verneområde</h3>
<dl>
    <dt>Navn</dt>
    <dd><%= title %></dd>

    <dt>Faktaark</dt>
    <dd><a href="<%= link %>">naturbase.no</a></dd>

    <dt>Beskrivelse</dt>
    <dd><%= content %></dd>
</dl>