<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Feil!</strong> <span class="content"></span>
</div>