<form class="feedback_form">
  <h4>Tilbakemelding</h4>
  <div class="form-group">
    <label for="form_email">Har du spørsmål eller kommentarer til denne informasjonen eller ønsker du å 
      si fra om feil eller mangler, så kan du gjøre det her:</label>
    <textarea id="form_message" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="form_email">Din epost:</label>
    <input type="email" class="form-control" id="form_email">
  </div>
  <button type="submit" class="btn btn-default">Send</button>
</form>