<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="../bower_components/leaflet/dist/leaflet.css" rel="stylesheet"/>
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' rel='stylesheet' />
        <link href='../bower_components/leaflet-sidebar/src/L.Control.Sidebar.css' rel='stylesheet' />


        <link href='../common/css/fullscreenmap.css' rel='stylesheet' />
        <link href='../common/css/L.Control.DatasetChooser.css' rel='stylesheet' />

    </head>
    <body>
        <div id="sidebar"></div>
        <div id="map"></div>

        <!-- templates -->
        <script type="text/template" id="popup_template">
            <h3><%= title %></h3>
            <p><%= dataset %></p>
            <% if (img) { %>
            <a href="<%= link %>">
                <img width="400" src="<%=img %>" />
            </a>
            <% }%>
            <p><%= desc %></p>
            <% if (!img) { %>
            <a href="<%= link %>">Mer info</a>
            <% }%>
        </script>
        <!-- end templates -->

        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/underscore/underscore-min.js"></script>
        <script src="../bower_components/leaflet/dist/leaflet.js"></script>
        <script src="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
        <script src="../bower_components/leaflet-sidebar/src/L.Control.Sidebar.js"></script>


        <script src="../common/js/L.TileLayer.Kartverket.js"></script>
        <script src="../common/js/L.Control.DatasetChooser.js"></script>
        <script src="../common/js/norvegiana.js"></script>

        <script type="text/javascript">

            (function () {
                'use strict';

                var popupTemplate = _.template($('#popup_template').html());

                var map = L.map('map');

                L.tileLayer.kartverket('topo2graatone').addTo(map);
                var pos = new L.LatLng(59.910586, 10.734329);
                map.setView(pos, 16);

                var api = new NorvegianaAPI();

                var sidebar = L.control.sidebar('sidebar', {
                    position: 'left'
                });

                map.addControl(sidebar);

                function getDisplayFunc(layer) {
                    return function (geoJson) {
                        layer.clearLayers();
                        layer = layer.addData(geoJson);
                    };
                }

                function getGeoJsonLayer(pointToLayer) {
                    return L.geoJson(
                        null,
                        {
                            pointToLayer: pointToLayer,
                            onEachFeature: function (feature, layer) {
                                var img = feature.properties.delving_thumbnail;
                                if (_.isArray(img)) {
                                    img = img[0];
                                }
                                
                                layer.on('click', function () {
                                    sidebar.setContent(popupTemplate({
                                        title: feature.properties.dc_title,
                                        img: img,
                                        desc: feature.properties.dc_description,
                                        dataset: feature.properties.europeana_collectionTitle,
                                        link: feature.properties.europeana_isShownAt
                                    }));
                                    sidebar.show();
                                });
                                
                            }
                        }
                    );
                }

                function MapClick(api, map, dataset) {
                    var layer = getGeoJsonLayer(api.pointToLayer);
                    var displayFunc = getDisplayFunc(layer);
                    var pos;

                    function getData(pos, dataset) {
                        if (dataset !== '') {
                            dataset = 'delving_spec:' + dataset;
                        }
                        api.getWithin(dataset, pos, 5000, displayFunc);
                    }

                    function mapClicked (e) {
                        pos = e.latlng;
                        getData(pos, dataset);
                    }

                    function on () {
                        layer.addTo(map);
                        map.on('click', mapClicked);
                    }

                    function off() {
                        map.off('click', mapClicked);
                        map.removeLayer(layer);
                        layer.clearLayers();
                    }

                    function setDataset(newDataset) {
                        dataset = newDataset;
                        if (pos) {
                            getData(pos, dataset);
                        }
                    }

                    return {
                        setDataset: setDataset,
                        on: on,
                        off: off
                    };
                }

                var selectedDataset = 'DiMu';
                var clickFunc = new MapClick(api, map, selectedDataset);

                var datasetChooser = L.control.datasetChooser({
                    datasets: api.datasets(),
                    initialDataset: selectedDataset,
                    datasetSelected: function (dataset) {
                        clickFunc.setDataset(dataset);
                    }
                });

                map.addControl(datasetChooser);

                clickFunc.on();

            }());

        </script>
    </body>
</html>
