<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="../bower_components/leaflet/dist/leaflet.css" rel="stylesheet"/>
        <link href='../bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' />
        <link href='../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' rel='stylesheet' />
        <link href='../bower_components/leaflet-sidebar/src/L.Control.Sidebar.css' rel='stylesheet' />


        <link href='../common/css/fullscreenmap.css' rel='stylesheet' />
        <link href='../common/css/L.Control.DatasetChooser.css' rel='stylesheet' />

    </head>
    <body>
        <div id="sidebar"></div>
        <div id="map"></div>

        <!-- templates -->
        <script type="text/template" id="popup_template">
            <h3><%= title %></h3>
            <p><%= dataset %></p>
            <% if (img) { %>
            <a href="<%= link %>">
                <img width="400" src="<%=img %>" />
            </a>
            <% }%>
            <p><%= desc %></p>
            <% if (!img) { %>
            <a href="<%= link %>">Mer info</a>
            <% }%>
        </script>
        <!-- end templates -->

        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/underscore/underscore-min.js"></script>
        <script src="../bower_components/leaflet/dist/leaflet.js"></script>
        <script src="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>
        <script src="../bower_components/leaflet-sidebar/src/L.Control.Sidebar.js"></script>

        <script src="../common/js/L.TileLayer.Kartverket.js"></script>
        <script src="../common/js/L.Control.DatasetChooser.js"></script>
        <script src="../common/js/L.Control.MapClick.js"></script>
        <script src="../common/js/L.NorvegianaGeoJSON.js"></script>
        <script src="../common/js/norvegiana.js"></script>

        <script type="text/javascript">

            (function () {
                'use strict';

                //template used for sidebar
                var popupTemplate = _.template($('#popup_template').html());

                //create the map
                var map = L.map('map');

                //add a background layer from kartverket
                L.tileLayer.kartverket('topo2graatone').addTo(map);


                //initialize the map in oslo
                map.setView(new L.LatLng(59.910586, 10.734329), 16);

                //set up an instance of the Norvegiana API
                var api = new NorvegianaAPI();

                //the sidebar, used for displaying information
                var sidebar = L.control.sidebar('sidebar', {
                    position: 'left'
                });
                map.addControl(sidebar);

                var layer = L.norvegianaGeoJSON(sidebar, api.pointToLayer, {popupTemplate: popupTemplate});

                var selectedDataset = 'DiMu';
                var clickFunc = L.control.mapClick(layer, api, selectedDataset)
                map.addControl(clickFunc);
                clickFunc.on();

                //simple control to choose datasets
                var datasetChooser = L.control.datasetChooser({
                    datasets: api.datasets(),
                    initialDataset: selectedDataset,
                    datasetSelected: function (dataset) {
                        clickFunc.setDataset(dataset);
                    }
                });
                map.addControl(datasetChooser);

            }());

        </script>
    </body>
</html>
